[2014-04-02 11:19] cjhendrix opened #1 "No path should be more than 15 chars"

[2014-04-08 20:09] teodorescuserban opened #2 "make a script to restart cps"

[2014-04-08 20:09] teodorescuserban opened #3 "make a script to stop cps"

[2014-04-08 20:09] teodorescuserban opened #4 "make a script to start cps"

[2014-04-08 20:10] teodorescuserban opened #5 "make a script to clean cps db"
drop current db and create a new empty db with the newest layout in fond in repo.

[2014-04-08 20:15] teodorescuserban opened #6 "make script to clean ckan db"
drop current db content, create new db layout

[2014-04-08 20:16] teodorescuserban opened #7 "make script to restart ckan"
gunicorn is the web server serving ckan at the moment.

[2014-04-08 20:16] teodorescuserban opened #8 "make script to start ckan"
gunicorn is the web server serving ckan at the moment.

[2014-04-08 20:16] teodorescuserban opened #9 "make a script to stop ckan"

[2014-04-08 20:17] teodorescuserban opened #10 "make script to add user to ckan"

[2014-04-08 20:24] teodorescuserban opened #11 "make script to remove user from ckan"

[2014-04-08 20:25] teodorescuserban opened #12 "make script to remove a sysadmin alltogether from ckan"

[2014-04-08 20:25] teodorescuserban opened #13 "make script to add a new sysadmin to ckan"

[2014-04-08 20:25] teodorescuserban opened #14 "make script to make a ckan user sysadmin"

[2014-04-08 20:26] teodorescuserban opened #15 "make script to remove sysadmin status form a ckan user"

[2014-04-08 20:48] teodorescuserban opened #16 "temp location insufficient for backup"
/tmp is tmpfs and it can prove insufficient for a single full backup.

please change all backup scripts on all servers to use a different temporary location.

[2014-04-08 20:50] teodorescuserban opened #17 "Set up automated backup for all HDX production sites"

[2014-04-08 20:50] davidmegginson commented on #16
How about /var/tmp?

[2014-04-08 20:53] teodorescuserban commented on #16
great idea!

[2014-04-08 21:04] davidmegginson commented on #17
That sounds like a reasonable approach for now, until we discover a requirement for full daily backups.

[2014-04-08 21:58] teodorescuserban commented on #2
closed by c4942ac17a0bb5f265c710cda943203f055c0b7a

[2014-04-08 21:58] #2 closed, assigned to teodorescuserban

[2014-04-08 21:59] teodorescuserban commented on #3
closed by c4942ac17a0bb5f265c710cda943203f055c0b7a

[2014-04-08 21:59] #3 closed, assigned to teodorescuserban

[2014-04-08 22:00] teodorescuserban commented on #4
closed by c4942ac17a0bb5f265c710cda943203f055c0b7a

[2014-04-08 22:00] #4 closed, assigned to teodorescuserban

[2014-04-10 15:06] davidmegginson commented on #9
@teodorescuserban — Do we have a wiki article or Google doc about all these scripts?  Apologies if you've already sent me the link five times. :-)

[2014-04-10 15:32] teodorescuserban commented on #13
ckan-user-add
then
ckan-user-sysadmin-enable

[2014-04-10 15:32] #13 closed, assigned to teodorescuserban

[2014-04-10 15:34] teodorescuserban commented on #12
ckan-user-sysadmin-disable
then
ckan-user-delete

[2014-04-10 15:35] teodorescuserban commented on #9
will make a doc about it.

[2014-04-10 15:49] davidmegginson commented on #9
+1

[2014-04-10 16:24] #5 closed, assigned to teodorescuserban

[2014-04-10 16:27] teodorescuserban commented on #6
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:27] #6 closed, assigned to teodorescuserban

[2014-04-10 16:27] teodorescuserban commented on #8
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:27] #8 closed, assigned to teodorescuserban

[2014-04-10 16:27] teodorescuserban commented on #7
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:27] #7 closed, assigned to teodorescuserban

[2014-04-10 16:27] teodorescuserban commented on #9
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:27] #9 closed, assigned to teodorescuserban

[2014-04-10 16:27] teodorescuserban commented on #10
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:27] #10 closed, assigned to teodorescuserban

[2014-04-10 16:28] teodorescuserban commented on #11
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:28] #11 closed, assigned to teodorescuserban

[2014-04-10 16:28] teodorescuserban commented on #14
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:28] #14 closed, assigned to teodorescuserban

[2014-04-10 16:28] teodorescuserban commented on #15
closed by 07a8ef784956a6f08ea8e6a16e7f6d05676935ca

[2014-04-10 16:28] #15 closed, assigned to teodorescuserban

[2014-04-10 16:38] teodorescuserban commented on #12
ckan-user-delete will do that for you as well.

[2014-04-10 16:38] #12 closed, assigned to teodorescuserban

[2014-04-11 09:09] teodorescuserban opened #21 "enable ssl on ckan"

[2014-04-11 09:10] teodorescuserban opened #22 "CVE-2014-0160 SSL heartbleed vulnerability assesment"

[2014-04-12 13:01] teodorescuserban commented on #22
Our servers are updated.
Provider's servers are updated too.
If only all clients would update...

[2014-04-14 10:52] aalecs opened #23 "Production snapshot for development"
Hi Serban,

Can we have a production snapshot that we, developers, can use on our machines so we can populate the CKAN with data fairly easily.

Thanks!

[2014-04-14 16:25] teodorescuserban commented on #23
done.
Thanks for asking that, i will make sure we have some old backup of some datasets lying around dev vm and i will make a script so that you will have 1 button populate db :)
This would be useful after a db clean
Pinging @cjhendrix to see.

[2014-04-14 16:25] #23 closed, assigned to teodorescuserban

[2014-04-14 16:26] teodorescuserban commented on #22
@cjhendrix any more to do? if not, please close it.

[2014-04-14 16:27] teodorescuserban commented on #21
@cjhendrix please make sure you ask for that certificate.
it's basically the exact same email i gave you, but the name is a bit different. Ping me if you want to resend the email (with the common name made as it should).

[2014-04-14 18:53] davidmegginson commented on #23
When you load a new snapshot database, make sure that you rebuild your local Solr search index as well; otherwise, the dataset listings will be messed up:

[code]

(Adjust the config-file location as needed.)  Perhaps @teodorescuserban already has this in a deployment script.

[2014-04-15 07:35] cjhendrix opened #24 "Review Serban's current backup strategy and recommend next steps"

[2014-04-15 07:37] cjhendrix opened #25 "Finalize Docs"
See trello for details.

@teodorescuserban Just creating this issue as a reminder of the trello card for docs that is underway.

[2014-04-15 07:39] cjhendrix opened #26 "Review server documentation"
When Serban completes the docs, review and edit as necessary to make them clear enough for someone familiar with linux to be able to understand and execute essential tasks.  Let's brainstorm on what those tasks include before starting the review.

[2014-04-15 12:14] davidmegginson commented on #24
@teodorescuserban — could you add the link to this task?

[2014-04-15 19:51] davidmegginson commented on #24
Serban said it's still being written, so this issue is temporarily blocked.  We chatted a bit about options, though.

[2014-04-18 07:35] #22 closed, assigned to teodorescuserban

[2014-04-21 15:26] teodorescuserban opened #27 "Ubuntu 14.04 migration"
Ubuntu 14.04 is out. This is a long term support version and we need to get it on our servers.

[2014-04-21 19:16] davidmegginson commented on #27
I suggest that we delay the migration until after the Warp Coil release in late May, _unless_ there are issues with the current Ubuntu that are creating serious risks or roadblocks.  Please let me know if there are any such issues, @teodorescuserban.

[2014-04-22 15:33] teodorescuserban commented on #27
That's why i put it in backlog, @davidmegginson ,
Just keep in mind 13.10 support expires in July (see https://wiki.ubuntu.com/Releases)
Pinging @cjhendrix for that too.

[2014-04-22 18:11] davidmegginson commented on #27
When you have a chance, @teodorescuserban, can you put together a few bullets listing the what you think the costs, benefits, and risks of upgrading would be?  The timing will have to be a management decision, but it should be based on the information and recommendations you provide.

I suspect we'd upgrade from the bottom up, so dev first, then staging, then prod.  Does that make sense?

[2014-04-23 12:23] teodorescuserban commented on #27
From my first tests, @davidmegginson, it appears the upgrade from 13.10 to 14.04 is failing. As a result, the "migration" will be the install from scratch of our vms as you mentioned (dev -> stag -> prod).
Upgrade might succeed in one-two months (as the 14.04 will be polished) but it is a big risk.

The install from scratch is by far the safest choice, the downtime in this case can be dramatically

[2014-04-23 20:06] teodorescuserban opened #28 "[Temporary] Http basic auth for ckan on prod"
As requested by CJ.

[2014-04-24 07:56] teodorescuserban commented on #28
Solved

[2014-04-24 07:56] #28 closed, assigned to teodorescuserban

[2014-04-24 08:00] teodorescuserban opened #29 "Sync configs"
Need to sync the web server configuration from prod with the updates I made on stag.

[2014-04-24 08:00] teodorescuserban commented on #29
done.

[2014-04-24 08:00] #29 closed, assigned to teodorescuserban

[2014-04-24 08:17] teodorescuserban opened #30 "devtools on prod"
Put devtools scripts on prod.

[2014-04-24 08:21] teodorescuserban commented on #30
done.

[2014-04-24 08:21] #30 closed, assigned to teodorescuserban

[2014-04-24 08:27] teodorescuserban commented on #25
RFC version is completed.
Link to the docs:
https://docs.google.com/document/d/1k_lkdKmHpMYTCWgZcs284SYKInizpKCLc_VK1aVtnb8/edit
https://docs.google.com/document/d/1F9MgeGurWh83NGEJqNJLo7bEmUTL8VKp9L1XBZ2EZ9o/edit
https://docs.google.com/spreadsheet/ccc?key=0AgVmp3r-qDSddDdWTjNONW1RUVhXZ1h4MzBpWng5aWc&usp=drive_web#gid=0

[2014-04-24 08:27] #25 closed, assigned to teodorescuserban

[2014-04-24 08:44] teodorescuserban commented on #21
@cjhendrix , please move it to next sprint. certificate is not ready afaik.

[2014-04-24 11:37] teodorescuserban commented on #16
done.

[2014-04-24 11:37] #16 closed, assigned to teodorescuserban

[2014-04-24 13:56] teodorescuserban commented on #21
I will split this in two: change fqdns and actually enable ssl when cert arrives.

[2014-04-25 07:31] teodorescuserban commented on #26
Scripts are made for the following tasks:

A. cps
- start
- stop
- restart

B. ckan
- start
- stop
- restart
- clean db
- user add
- user remove
- make a user sysadmin
- revoke sysadmin privilege from a user

[2014-04-25 07:33] teodorescuserban commented on #24
@davidmegginson : https://docs.google.com/document/d/1k_lkdKmHpMYTCWgZcs284SYKInizpKCLc_VK1aVtnb8/edit#heading=h.8zosh2rzb4nf

[2014-04-25 12:09] danmihaila opened #31 "Install STAG snapshot on local machine"
Create a script that will take the snapshot from STAG machine and will drop, create and populate the local Postgres database of CKAN.

[2014-04-25 13:45] amcguire62 opened #32 "Set up automated monitoring for CKAN and CPS"
We need a way to monitor the performance of all servers (webpage ideally / perhaps linked to pingdom) so anyone can see what is server status (this can be used by communications team to keep users informed of downtime / issues for example)

[2014-04-28 09:32] teodorescuserban commented on #32
Working on a monitoring system based on icinga (http://www.icinga.com) and munin (http://munin-monitoring.org

Will ping you when the site is available, @amcguire62

[2014-04-28 09:33] teodorescuserban opened #33 "Automate off-site backup transfer"
Cron job on our VMs to automate the off-site trasnfer of weekly backups.

[2014-04-28 09:34] teodorescuserban opened #34 "Change FQDNs for HDX staging sites (blocks #36)"
Will have to contact our provider and our dns manager to update the entries.

[2014-04-28 14:22] davidmegginson commented on #26
Aidan suggests adding a gameday simulation walking through the docs before we launch. Once with someone from CKAN team, and once with someone from CPS team.

[2014-04-28 14:22] davidmegginson commented on #26
Waiting for doc from @teodorescuserban — please reassign to me with doc link once it's ready.

[2014-04-28 14:30] davidmegginson commented on #34
Blocks #36.

So the task is to change the test.\* staging domains to test-*, e.g. test-manage.hdx.rwlabs.org instead of test.manage.hdx.rwlabs.org.  The reason for the change is that our new wildcard SSL certificates will work for only one level of subdomains.

Waiting for comment on test-\* domains.

[2014-04-28 14:33] davidmegginson opened #35 "CPS caching"
What problems might exist?

How can we confirm?

[2014-04-28 14:35] davidmegginson commented on #35
@teodorescuserban has already confirmed via load testing that CKAN requires some level of caching, and serving static content outside the CKAN webapp.

TBD whether CPS needs caching of generated spreadsheets.

[2014-04-28 14:48] teodorescuserban commented on #34
I am fine with this. @cjhendrix ? Any comments?
Will send out the emails tomorrow - "no sign is good sign" ;)

[2014-04-28 17:06] davidmegginson commented on #34
Here's what @teodorescuserban wrote in his email:
1. Prod vhosts remain unchanged
2. Stag vhosts changes:
   a. test.docs.hdx.rwlabs.org -> test-docs.hdx.rwlabs.org
   b. test.data.hdx.rwlabs.org -> test-data.hdx.rwlabs.org
   c. test.manage.hdx.rwlabs.org -> test-manage.hdx.rwlabs.org
3. Dev vhosts remain unchanged.

[2014-04-28 17:06] davidmegginson commented on #34
I'm fine with this arrangement.  Assigning to @cjhendrix for his feedback (please reassign to @teodorescuserban when you're done).

[2014-04-28 19:16] teodorescuserban commented on #26
https://docs.google.com/document/d/1k_lkdKmHpMYTCWgZcs284SYKInizpKCLc_VK1aVtnb8/edit
https://docs.google.com/document/d/1F9MgeGurWh83NGEJqNJLo7bEmUTL8VKp9L1XBZ2EZ9o/edit
https://docs.google.com/drawings/d/1ZqAztwDMaUQg46w-s2u9dAJOvK_RSqfyJT4nvmN812I/edit

Please review the permission for gdocs before asking anyone to read them.

[2014-04-28 19:17] teodorescuserban commented on #21
closed, i created two issues as above.

[2014-04-28 19:17] #21 closed, assigned to teodorescuserban

[2014-04-28 19:19] teodorescuserban opened #36 "Enable SSL encryption for HDX web sites"
When the new certificate arrives, I will manage the transition to ssl encryption for all sites we have.

[2014-04-28 19:21] teodorescuserban commented on #35
First test proposal: Given any xls file in cps, I will test how many requests per second we can get (actually, the load on the vm is more important) and then, same test but the xls will be cached.

[2014-04-28 19:28] teodorescuserban commented on #35
Easy confirmation test: needs shell access to one of our vm.
Logged in stag cps on the browser, hit ctrl+refresh (after each page loads successfully) on /hdx/admin/status/datasets/.
See how java activity raises to 30%.
This is just a simple resources find, not xls generation which will be alot more intensive.
For example, the baseline for zimbabwe took 6 seconds to generate and was eating 30% db c

[2014-04-30 19:57] cjhendrix commented on #34
Cleared this with Sarah.

Just to be clear, no changes to Prod and Dev vhosts.   Only staging.  I had earlier suggested we might change dev, but I was confused.  :/

[2014-04-30 20:50] davidmegginson commented on #27
Yes, a Google Doc is perfect.  Thanks for running the test, @teodorescuserban — it probably saved us a lot of grief this close to launch, if we'd gone ahead and tried to upgrade blindly.

[2014-04-30 20:51] davidmegginson commented on #29
Is there any value in using something like puppet to automate the syncs in the future?

[2014-04-30 20:54] davidmegginson commented on #33
This is a very high priority for launch — thanks for starting on it.

[2014-04-30 20:57] davidmegginson commented on #35
That sounds like a good starting point. How much work to get the simplest full XLSX test running?

BTW, I'm nervous that just simple page generation takes the CPU to 30%. We're not going to be having heavy use of CPS for now, but that might be a fair indication of whether CPS can evolve into our analytical web site in the future.

[2014-04-30 20:57] davidmegginson commented on #34
OK, @teodorescuserban — looks like it's a go!

[2014-05-01 20:02] teodorescuserban commented on #34
I sent an email to our dns manager and one email to our provider notifying them for the change.
I've updated the corresponding gdoc in our documentation - [see it here](https://docs.google.com/spreadsheet/ccc?key=0AgVmp3r-qDSddDdWTjNONW1RUVhXZ1h4MzBpWng5aWc&usp=drive_web#gid=0)
Will comment and close the issue once it is really solved :)

@davidmegginson , what do you think about a simple page on

[2014-05-01 20:18] teodorescuserban commented on #35
Will do the test next week @davidmegginson . Takes a 1-2 hours to setup. It would be very helpful if we can have two almost identical xslx in CPS - to cache one and not cahce the other. Alternatively I can just test it without cache and then enable cache and test. Please advise.

We are in process of making ui and data manipluation improvs on CPS... didn't raise any hands about optimization (aside

[2014-05-01 20:18] teodorescuserban commented on #26
Pinging @davidmegginson :)

[2014-05-01 20:19] teodorescuserban commented on #24
Pinging @davidmegginson :)

[2014-05-01 20:36] davidmegginson commented on #34
I have no objection to the page, but I'm not sure we'll need it, since the test-\* domains were used only within our team.

[2014-05-01 20:37] davidmegginson commented on #35
You could pick the baseline-data XSLX for two different countries: it should be nearly identical (you can verify with a quick skim). Then cache one but not the other.

[2014-05-01 20:38] davidmegginson commented on #26
Yes, I'm the blocker on this issue. :-)

[2014-05-01 21:25] teodorescuserban commented on #34
i'm still asked what are the creds to enter on stag ckan website... :)
- is very easy to setup - like 20 minutes.

[2014-05-02 10:13] teodorescuserban commented on #33
Done, @davidmegginson .

I created a script on every VM that will sync the backup folder content daily offsite.
The removal of old backups will be done on both local VMs and the destination server (probable on different policies, e.g. on our VMs we dont want to keep a backup more than X months, but on the destination servers we do).

I will make sure the documentation regarding backup policy, as w

[2014-05-02 10:13] #33 closed, assigned to teodorescuserban

[2014-05-02 14:39] davidmegginson commented on #1
@cjhendrix — could you provide more details about this issue?

[2014-05-02 14:40] davidmegginson commented on #35
Reassigning to @teodorescuserban for testing.

[2014-05-02 14:44] davidmegginson commented on #34
OK, then please go ahead.

[2014-05-02 14:47] davidmegginson commented on #36
Blocked by #36.

**Background:** (not needed by Serban :-) ).  This issue is critical because without it, passwords and other confidential information will be transmitted in the clear over the Internet.

[2014-05-02 14:50] davidmegginson commented on #31
@danmihaila — is this task critical for the May release? I'm not sure of the impact on the CKAN dev team.

[2014-05-02 15:00] teodorescuserban commented on #34
DNS changes have been made.
The provider added the new hostnames in the list.
I added the new hostnames as alternatives for old vhosts.
Need to test the configs a bit later to see where and what breaks or needs updating (xlsx links will break for example).

[2014-05-02 15:01] teodorescuserban commented on #17
Daily full backups for all our apps, configs, files, databases - done.
Daily transfer of newest backups offsite - done.

[2014-05-02 15:01] #17 closed, assigned to teodorescuserban

[2014-05-02 15:04] davidmegginson commented on #34
Just noticed that the new domain names are configured at the ISB and HITEC levels now. @teodorescuserban is just working on configuring the VHOSTS so that they get through to the right web apps.

[2014-05-02 15:19] teodorescuserban commented on #32
Monitoring server online.
I informed @amcguire62 and @davidmegginson and made them accounts on it.
TO DO: install monitoring agents on our VMs and make them communicate the status of various parameters to our monitoring host (we need to do passive checks).
When agents are connected to our monitoring host, I will ping you both to suggest parameters to monitor, because sky's the limit here :)

[2014-05-02 16:12] cjhendrix commented on #1
If I remember correctly, this was raised by Serban and we made a quick issue so that we wouldn't forget.   Though now of course I've forgotten why he was worried about it.-----David Megginson notifications@github.com wrote: -----

To: OCHA-DAP/hdx-infrastructure hdx-infrastructure@noreply.github.com
From: David Megginson notifications@github.comDate: 05/02/2014 10:39AM
Cc: cjhendrix hendrix@un.org

[2014-05-02 16:21] teodorescuserban opened #37 "Improve backup strategy"
Daily full backups are fine right now.
Not when the databases will start growing and our local storage will increase.
We should consider having weekly full backups for the bigger data sources (databases, local storage) and make differential backups daily.
We dont need to make all backups full, just the ones we actually need.

No milestone yet.

[2014-05-02 16:21] teodorescuserban commented on #37
ping @davidmegginson

[2014-05-02 16:38] teodorescuserban commented on #34
test.docs.hdx.rwlabs.org is configured as discussed, @davidmegginson
I will configure the other two late this evening (EET).
Docs do not contain anything of value right now, on the other hand ckan and cps need to work as expected so I need to also check for broken links - I dont want to make server-side redirects or we wont be off the wagon with the old hostnames until next spring. :)

[2014-05-02 21:11] teodorescuserban commented on #36
And let me add here that our infrastructure is immune to OpenSSL Heartbleed Bug (it has been vaccinated).

[2014-05-02 22:03] teodorescuserban commented on #34
Configured our ckan vhost and observed there are quite a few datasets that are using our local storage and the url is on the old hostname.
Please advise.
Pinging @davidmegginson and @cjhendrix
A redeploy of ckan content from scratch might be required on stag. (We can rerun the setup script to see what remains and change it by hand).
Assigning to @davidmegginson for resolution.

[2014-05-03 12:08] cjhendrix opened #38 "Our weird logout bug is back"
![image](https://cloud.githubusercontent.com/assets/1654485/2870295/9608693e-d2bb-11e3-925b-c680fcc1bbbd.png)

This was on staging.  I cleared caches, opened a new tab and tried again with the same result.

[2014-05-03 19:57] teodorescuserban commented on #38
I tried without success to replicate this.
Can you please try with different browsers?
What happens after this screenshot?
Do you still have access to your private data, for example user profile?

[2014-05-04 10:40] cjhendrix commented on #38
It was only in chrome, so I tried deleting everything (not just caches) and the behavior reverted to normal.  It is not occurring in Firefox or in Chrome Incognito.

Let's just assume I did a bad job of clearing caches last time.  I may have fixed it in Firefox, but not in Chrome.

Thanks for taking a look.  Closing.

[2014-05-04 10:40] #38 closed, assigned to teodorescuserban

[2014-05-05 07:58] teodorescuserban commented on #35
Preliminary (very basic) tests done.
What I did: I took two baseline countries - Zambia and Zimbabwe. I compared the timings and load - about the same. I cached Zimbabwe only and saw the results. After that, I also cached Zambia and checked the result.
The cache has been set for test on staging server; it has a persistence of only 30 minutes and it caches at the moment ONLY Zimbabwe and Zambia bas

[2014-05-05 08:58] danmihaila commented on #31
@davidmegginson - It is not a critical issue, but it will be great tool to have it done when we will start to test and reproduce local the issues from production or staging.
@teodorescuserban - can you give an estimate?

[2014-05-05 09:01] teodorescuserban opened #39 "Enable solr multicore on staging"
So that we can have more than one instance of ckan at a time on staging.
Useful for snapshots, tests, and so on.
It is also useful to test #1

[2014-05-05 09:02] teodorescuserban commented on #39
Done.
Pinging @cjhendrix for feedback.
Assigned to @davidmegginson for feedback.

[2014-05-05 09:09] teodorescuserban commented on #34
Because #37 is resolved, I can just go ahead and install from scratch in the other folder, so that we will have two simultaneous instances - and reconfigure nginx to use the new vhost for the other folder - 5 min call should settle this, right @cjhendrix and @davidmegginson ?

[2014-05-05 11:31] teodorescuserban commented on #31
depending on options, it can go as far as 6h.
can do a minimal hardcoded in 2-3 hours I believe.

[2014-05-05 11:32] danmihaila commented on #31
I can provide some requirements in case we have a green light :)

[2014-05-05 11:52] teodorescuserban commented on #31
Provide them anyway. I _will_ do this if all critical issues are either closed or blocked.

[2014-05-05 13:19] teodorescuserban commented on #36
Blocked by certificate purchase.

[2014-05-05 13:23] teodorescuserban commented on #34
In the mean time, a new ckan instance is up with a separate db and solr. ckanSetup script has been run on it with new cps url as well
Some other user-added datasets are still missing (e.g. airports).
Blocked on ckan until I get a call with @cjhendrix and @davidmegginson.
Cps and docs can be changed anytime.

[2014-05-05 13:32] teodorescuserban commented on #36
Assigned to @cjhendrix to confirm purchase.

[2014-05-05 13:48] davidmegginson opened #40 "Deploy WC14 CPS to staging"
Deploy as soon as @seustachi says it's ready.

[2014-05-05 14:09] davidmegginson commented on #39
Sounds like a good idea.  Closing.

[2014-05-05 14:09] #39 closed, assigned to davidmegginson

[2014-05-05 14:34] davidmegginson commented on #35
That was a frightening video, seeing the load average spike to over 0.7 just requesting the same spreadsheet a few times in sequence from CPS. It also demonstrated clearly that caching essentially eliminates that load.  So here's what I think:
- Everything under `/hdx/api/exporter/` gets cached for 24 hours.
- We clear the cache nightly (time TBD, something off-hours for both North American and Af

[2014-05-05 14:43] davidmegginson commented on #34
This can be fixed with a simple Python or PHP script and the CKAN API, but since it's only for staging, I suggest just starting over.  Over to @cjhendrix for the final call (I assume @teodorescuserban and CJ will discuss this in their call in a few minutes).

[2014-05-05 14:55] davidmegginson commented on #26
[HDX Servers Setup](https://docs.google.com/document/d/1k_lkdKmHpMYTCWgZcs284SYKInizpKCLc_VK1aVtnb8/edit) looks good.  One question: do we need to run both Jetty and Tomcat, or could we put both Solr and CPS on the same one?  Doesn't need to be resolved this month; just something to keep in mind.

[2014-05-05 14:57] davidmegginson commented on #26
[HDX Server Setup -recipes](https://docs.google.com/document/d/1F9MgeGurWh83NGEJqNJLo7bEmUTL8VKp9L1XBZ2EZ9o/edit) also looks good, though I only skimmed it, without trying to understand every sequence in detail. The best way to test this doc will be by having someone else try to follow it.

[2014-05-05 14:58] davidmegginson commented on #26
[HDX Infrastructure dataflow](https://docs.google.com/drawings/d/1ZqAztwDMaUQg46w-s2u9dAJOvK_RSqfyJT4nvmN812I/edit) (which also appears in _HDX Servers Setup_) looks useful. It's not a standard system diagram, but it's probably easier to understand than UML. :-)

[2014-05-05 14:58] #26 closed, assigned to davidmegginson

[2014-05-05 15:02] davidmegginson commented on #24
The backup strategy looks good, but could we add backup of the server logs as well? Those might be important to us, especially if the site goes down because of a breach or other attack. They could also be needed for access-to-information-type requests.

[2014-05-05 15:22] teodorescuserban commented on #26
@davidmegginson , I asked myself the question about tomcat and jetty. The cons would be: when tomcat is down, ckan search would still run; we need to test another solr install - this one is  liked to jetty in OS packages. The pro: simpler administration, but jetty is very little sysadmin overhead so not really a pro.

[2014-05-05 15:22] teodorescuserban commented on #24
Good idea.
Please raise it up to critical whenever you want @davidmegginson .

[2014-05-05 15:23] teodorescuserban commented on #35
Will do asap and comment here further, @davidmegginson

[2014-05-05 15:26] teodorescuserban opened #41 "Maintenance window sooner"
@cjhendrix and @davidmegginson , please allow for a scheduled interval for maintenance after code freeze.
What about 20 May?

[2014-05-05 15:43] cjhendrix opened #42 "new ckan has some ALL CAPS country names"

[2014-05-05 16:39] teodorescuserban commented on #42
I ran the last version of ckanSetup.

[2014-05-05 17:19] cjhendrix commented on #42
Can you check with @aalecs?  Maybe it's better to just keep using the current instance?

[2014-05-05 18:21] teodorescuserban commented on #42
the source doc is like that. i asked the data team about it. no response yet.
pinging @davidmegginson

[2014-05-06 16:33] cjhendrix opened #43 "No user accounts on ckan staging."
The captcha has also stopped working, so no one can create accounts.

I tried to create them using paster, but with the ckan location change I wasn't able (with my meager skills) to figure out (at least not quickly, I'm sure with more time, I could have found it using the new docs Serban created).

[2014-05-06 20:45] teodorescuserban commented on #43
Users created. Details in repo chat.

Recaptcha fixed.

Reassigning to @cjhendrix for validation and closing.

[2014-05-06 21:14] teodorescuserban commented on #42
well, what we do on that, @cjhendrix ? @davidmegginson ?
i don't know if the old ckan had the countries all small letters in the first place, but  I can check :)

[2014-05-06 21:14] teodorescuserban commented on #40
deployed. forgot to close it...

[2014-05-06 21:14] #40 closed, assigned to teodorescuserban

[2014-05-07 19:18] teodorescuserban commented on #43
@cjhendrix please close this.

[2014-05-07 22:40] teodorescuserban commented on #36
Domain verification for certificates then we are good to go.

[2014-05-07 22:41] teodorescuserban commented on #42
assigning to @cjhendrix for resolution.

[2014-05-08 07:32] #43 closed, assigned to cjhendrix

[2014-05-08 08:07] cjhendrix commented on #42
Thanks for flagging it again Serban.  As mentioned in the dev team chat, Javier is the only one with edit access to that gdoc.  You'll have to get it from him (or save a copy and edit that one). I'll flag it again in the data team.   My biggest concern is not to screw up prod when we run setup again to create the reamaining countries.

[2014-05-08 08:11] teodorescuserban commented on #42
I guess I missed that chat. I will contact Javier directly. In the mean time i looked in cps, and it's the same thing. Some are caps some are not.

[2014-05-08 15:57] davidmegginson opened #44 "Create script to import raw ReliefWeb data from ScraperWiki to CKAN"
@luiscape has his ReliefWeb scraper ready, and we need to start copying the raw RW data to a private CKAN dataset on CKAN staging.

The scraped data is here: https://ds-ec2.scraperwiki.com/bcbk6tq/e81a96f6e040418/http/v1.1/

Having trouble creating a dataset. Will update this task as soon as able.

[2014-05-08 16:22] davidmegginson commented on #44
Please put the data in this dataset on staging: http://test-data.hdx.rwlabs.org/dataset/raw-reliefweb-statistics

[2014-05-08 18:38] teodorescuserban commented on #44
which file to take, @davidmegginson ? @luiscape ?

[2014-05-08 18:57] luiscape commented on #44
I've chatted with @teodorescuserban about this issue. The file is now on CKAN [here](http://test-data.hdx.rwlabs.org/dataset/raw-reliefweb-statistics). It comes from ScraperWiki, as shared by @davidmegginson [above](https://ds-ec2.scraperwiki.com/bcbk6tq/e81a96f6e040418/http/v1.1/).

[2014-05-08 19:33] teodorescuserban commented on #44
@davidmegginson decided we should leave the name of the file as it is for now.
Only thing missing is the time of day for the update - send it to enable.
Oh, @luiscape let's not forgot, once the forms are working again, we should put that description to the dataset,
Anyone care to close this? :)

[2014-05-08 19:51] luiscape commented on #44
Closing. :full_moon_with_face:

[2014-05-08 20:01] JavierTeran commented on #42
Sorry I missed this. @teodorescuserban

Please notify me with an @ Thanks

We worked on the names and put our edits some time ago already in the old CPS spreadsheet:
https://docs.google.com/spreadsheet/ccc?key=0AoSjej3U9V6fdHJzcWNreF8tVDNXTlpaeXl3Z3h3WWc&usp=drive_web#gid=15
This is the approved list of names, includes correct spelling and first letter capital only.

[2014-05-08 22:42] teodorescuserban commented on #42
@JavierTeran , last run of ckanSetup script yield correct names of the countries. @cjhendrix , this is now available on drill ckan.

[2014-05-08 22:43] teodorescuserban commented on #42
assigning to @cjhendrix to close it. thank you, @JavierTeran

[2014-05-09 03:47] teodorescuserban commented on #42
Staging ckan updated as well.

[2014-05-09 11:22] davidmegginson opened #45 "Replicate CPS metadata import in staging"
@bmichiels has done a reimport of the data team's CPS metadata spreadsheet into CPS dev.  Please use the script he provides in https://github.com/OCHA-DAP/DAP-System/issues/162#issuecomment-42638850 to replicate that reimport in CPS staging — get in touch with Benoît directly with any questions.

[2014-05-09 11:56] teodorescuserban commented on #45
done., @davidmegginson . closing.

[2014-05-09 11:56] #45 closed, assigned to teodorescuserban

[2014-05-09 16:07] luiscape commented on #44
@teodorescuserban Can you please configure your CKAN uploader script to run daily at 11 PM GMT?

Reopening.

[2014-05-09 17:32] teodorescuserban commented on #44
done. closing.
please remember, @luiscape and @davidmegginson , this is on stag only!

[2014-05-09 17:32] #44 closed, assigned to teodorescuserban

[2014-05-09 18:52] luiscape commented on #44
I'll remember. We'll have to do the same for prod. @teodorescuserban do you have an idea when?

[2014-05-12 06:14] teodorescuserban commented on #42
@cjhendrix , I am going to close this.
Pinging @davidmegginson as well.

[2014-05-12 06:14] #42 closed, assigned to cjhendrix

[2014-05-12 06:24] teodorescuserban commented on #41
assigning to @davidmegginson to bump this issue.

[2014-05-12 06:27] teodorescuserban commented on #35
Update: due to heavy work on cps on both staging and production instances, I am not enabling caching just now, because most likely it will confuse anybody.
Please comment if needed, @davidmegginson
@JavierTeran , please notify me when the data input curve will drop on either staging or production so I can enable caching (it will expire every 5 minutes initially then the time to live will be increa

[2014-05-12 06:28] teodorescuserban commented on #36
Certificates have been downloaded and sent to our provider to install them.
ETA: 2-3 days top.

[2014-05-12 06:29] teodorescuserban commented on #34
In the mean time we have enabled another ckan instance on staging. Our provider has been notified and has added the new fqdn to its' list. However, although the DNS manager has been notified, there is no response so far. Will retry. After this is done, the issue can be closed.

[2014-05-12 06:43] teodorescuserban commented on #44
whenever you want @davidmegginson
In fact, i will just prepare it right now.
:)

[2014-05-12 06:53] teodorescuserban commented on #44
Done.
The ckan code on prod seems to force me to choose a country for the dataset...
Maybe @davidmegginson can help uncheck any country on it.
Please let me know when you want this resource to be uploaded atutomatically (only the cron job is to be added).

[2014-05-12 09:08] cjhendrix commented on #34
Thanks for the update.

[2014-05-12 09:08] cjhendrix commented on #42
Yes,  I think it is resolved. Serban Teodorescu --- Re: [hdx-infrastructure] new ckan has some ALL CAPS country names (#42) --- From:"Serban Teodorescu" notifications@github.comTo"OCHA-DAP/hdx-infrastructure" hdx-infrastructure@noreply.github.comCc"cjhendrix" hendrix@un.orgDate:Mon, May 12, 2014 08:15SubjectRe: [hdx-infrastructure] new ckan has some ALL CAPS country names (#42)@cjhendrix , I am go

[2014-05-12 14:40] luiscape commented on #44
Hi @teodorescuserban, sorry for sticking my nose here if not welcome, but can't we simply add the scraped data to the "country" `World` for now?

[2014-05-12 15:34] teodorescuserban commented on #44
it could, @luiscape
i just need somebody able to confirm

[2014-05-13 09:04] cjhendrix opened #46 "Some parts of prod ckan db not copied to stag"
Much of the manual work done by the data team on prod did not come with the db to stag.  We need to know why. In particular, I'm concerned that maybe CKAN_setup is erasing some stuff?  That would be a major problem for us at the moment.  Pinging @aalecs and @danmihaila so they are aware.
# Examples:
## Tags "health" and "children" added by Godfrey 27 days ago

http://data.hdx.rwlabs.org/dataset?q=

[2014-05-13 10:58] aalecs commented on #46
The script was overriding tags/descriptions until this weekend ... so it's normal :)
Let's retest with the new script and see if it's the case.

[2014-05-13 10:59] cjhendrix commented on #46
Ok, so that explains part of it. What about the missing datasets?

[2014-05-13 17:15] luiscape commented on #44
@teodorescuserban Yes, please add it as a "world" resource. And also set the cron job to update the data daily. :-) Thank you loads!

[2014-05-13 17:43] teodorescuserban commented on #44
@luiscape how can I add it as a "world" resource? Please go ahead and change it on production - search for datasets containing "raw" and you shoud find it - or advise.

[2014-05-14 07:41] cjhendrix commented on #44
There are some bugs in the current production code base on editing countries.  Let's wait until after deployment today to fix that.

[2014-05-14 13:19] luiscape commented on #44
Got it.

[2014-05-14 14:13] teodorescuserban opened #47 "local storage cleaning"
you know what script would be very handy? a script that would search the ckan db for local files, make a list and use that list to remove garbage from local storage.

[2014-05-14 14:15] cjhendrix commented on #46
Issue not present now.  Closing.  Though I do wish we understood what happened.

[2014-05-14 14:15] #46 closed, assigned to teodorescuserban

[2014-05-14 14:44] teodorescuserban commented on #34
@davidmegginson @cjhendrix please help me.
blocker: the dns record for second ckan instance on staging.

[2014-05-20 19:37] davidmegginson commented on #41
I have no objection to a scheduled maintenance window, but it's a coordination question:
- It has to work for the CPS team.
- It has to work for the CKAN team.
- It has to work for field trials ( @JavierTeran is leaving for Colombia tomorrow).
- It has to work for any demos that Sarah may have planned in DC or elsewhere.

@amcguire62 — are you the right one to coordinate this? If not, please reass

[2014-05-20 20:52] teodorescuserban commented on #41
@davidmegginson - let's put it next Monday morning GMT+3 time :) I'm sure no demo in Colombia nor any other demo in US would be active.

@amcguire62 , agree?

[2014-05-27 23:21] alexandru-m-g opened #57 "Changes to nosetests to generate reports and to automatically find tests in sub-folders"
This is the equivalent to https://github.com/OCHA-DAP/hdx-ckan/issues/434 but on the hdx-infrastructure repo.

[2014-05-27 23:41] alexandru-m-g commented on #57
Change committed

[2014-05-27 23:41] #57 closed, assigned to alexandru-m-g

[2014-05-29 11:15] teodorescuserban commented on #35
Assigning to @JavierTeran to confirm and comment on the above post.

[2014-05-29 11:17] teodorescuserban commented on #34
solved and closing.

[2014-05-29 11:17] #34 closed, assigned to cjhendrix

[2014-05-29 11:20] teodorescuserban commented on #31
The full snapshot install script has been made to be used on dev and staging.
If you comment out the "rm -rf" line at the end of the script, you have the db backup in /tmp folder.
@danmihaila , please comment on this.

[2014-05-30 11:12] cjhendrix commented on #34
Yay!

[2014-06-25 16:19] teodorescuserban opened #64 "Disk space for backups."
Prod:
/dev/sdb1       197G  161G   26G  87% /data
Stag:
/dev/sdb1        59G   49G  7,4G  87% /data
Actions?

[2014-06-25 16:20] teodorescuserban commented on #64
I will remove:
- all db dumps on staging
- all cps and ckan install files backups on staging and production

[2014-06-25 16:28] teodorescuserban commented on #64
### Staging:
- removed Jan-May ckan files backups
- removed Jan-May tomcat files backups

Now on:
Filesystem      Size  Used Avail Use% Mounted on
/dev/sdb1        59G   23G   34G  41% /data

### Prod
- removed Jan-May ckan files backups
- removed Jan-May tomcat files backups

Now on:
Filesystem      Size  Used Avail Use% Mounted on
/dev/sdb1       197G  101G   87G  54% /data

[2014-06-25 16:28] #64 closed, assigned to teodorescuserban

[2014-07-09 08:46] amcguire62 commented on #36
Can i check was this done?

[2014-07-09 09:16] teodorescuserban commented on #36
Further messages between me and our provider revealed that we need to change the external ip address. This may lead to temporary or partial downtime and it wad decided to postpone it at least after Kenya. I didnt try again to switch to ssl afterwards with all changes and demos...

[2014-07-09 21:58] teodorescuserban commented on #35
Taking the issue back.
After some discussion and establishing the best way to do it, I made a script that will feed the proxy each day.
Still have some tests to run on it, but very soon it wil fire automatically and will keep the cache full so cps wont feel anything from the clients.

[2014-07-09 21:59] #41 closed, assigned to amcguire62

[2014-08-27 19:56] teodorescuserban commented on #36
Update:
1. production ckan and cps are on ssl now (ckan for two days, cps for a day).
2. staging ckan and cps are on ssl; staging third vhost on ssl as well.
3. dev ckan and cps - well it doesnt matter - vpn only.

only blog remains.

[2014-08-27 20:58] luiscape commented on #36
Working on the blog. I'm having to take care of other issues in the pipeline. I'm hoping to complete this issue this week.

[2014-08-29 18:38] mbellotti opened #67 "Enable Datapusher on Staging"
It will need to be configured to work around localhost like our old friend dataproxy :)

[2014-09-01 10:21] teodorescuserban commented on #67
Will do it today.

[2014-09-01 10:21] teodorescuserban opened #68 "Clean up and make space on backup server"
Disk full - again.

[2014-09-01 10:22] teodorescuserban commented on #68
I kept only the monthlies for June and July.
Done.

[2014-09-01 10:22] #68 closed, assigned to teodorescuserban

[2014-09-01 15:52] teodorescuserban commented on #35
In the mean time, there is a script that builds a static file structure folder from the cps reports.
Today I found out from Godfrey that wfp data is on prod, not staging.

Long story short: cps caching is working at the moment. The only thing I need is the weekly confirmation of the data team that the current week's import was successful so I can proceed and refresh the reports.

Pinging @amcguire

[2014-09-01 15:52] #35 closed, assigned to teodorescuserban

[2014-09-01 21:14] teodorescuserban commented on #67
Well, not too much luck on that.
I created a nice little virtualenv for datapusher, read the docs, grab it, configure it. It appears it is working.
You can test it by going to stag internal ip address through vpn on port 8800), you should get
_{
  "help": "\n        Get help at:\n        http://ckan-service-provider.readthedocs.org/."
}_
However, it cant really push to ckan datastore because of th

[2014-09-08 14:54] teodorescuserban commented on #36
any news, @luiscape ?

[2014-09-08 14:54] teodorescuserban commented on #31
closing, @danmihaila

[2014-09-08 14:54] #31 closed, assigned to teodorescuserban

[2014-09-08 14:55] teodorescuserban commented on #1
it is done.

[2014-09-08 14:55] #1 closed, assigned to teodorescuserban

[2014-09-09 14:43] teodorescuserban commented on #67
![datapusher-error](https://cloud.githubusercontent.com/assets/1542984/4203459/d6c973a8-382f-11e4-8a89-75c4ec92ada1.png)
Actually, it looks like my issue reporting is not so good. The datastore worked fine 8 days ago as well - no gremlins, sorry, just a beginning of Alzheimers :)
The error reported in issue is referring to a new resource.

Steps to reproduce:
1. Login as sysadmin in stag ckan.
2.

[2014-09-09 14:58] teodorescuserban commented on #67
Update: it seems that this datapusher bug makes impossible for later datastore manual upload.
:|
So I cannot manually force the resource into datastore if that resource has been added while datapusher was enabled on ckan.
The manual upload worked for the first initial resource because that is either NOT in filestore at all or it comes from a prod db snapshot (on prod datapusher did not tried to up

[2014-09-09 15:01] rufuspollock commented on #67
@teodorescuserban what do you mean here? When you say a manual upload what do you mean? you mean pushing to the datastore API or something else ...?

[2014-09-09 17:48] teodorescuserban commented on #67
I mean clicking the big blue buton that readus "Upload to datastore". :)

[2014-09-09 18:26] teodorescuserban commented on #67
Update: trying to add a new url type resource works!

So this narrows down the issue a bit. This issue appears only when trying to add a new resource by uploading a file.

[2014-09-09 19:42] takavarasha opened #69 "Change schedule of import of csv.zip files from scraperwiki to CKAN to Friday 020:0hrs GMT"
Change the timing of this job from the current Saturdays at 02:00hrs to Fridays at 02:00hrs GMT so that imports of the data into CPS can be carried out on Fridays during the day EST.

[2014-09-09 19:45] teodorescuserban commented on #69
Changed as follows:
sw zip: Friday @ 02:00 AM GMT
rw zip: Friday @ 02:03 AM GMT
fts zip: Friday @ 02:06 AM GMT

[2014-09-09 19:45] #69 closed, assigned to nobody

[2014-09-09 19:45] takavarasha opened #70 "Cron job to update csv.zip files from scraperwiki to ckan did not run"
The scheduled automatic update of the CKAN datasets with the raw csv.zip files from scraper wiki did not run on Saturday 6 Sept 2014. I am not too sure if this is an error or it is by design.

[2014-09-09 20:08] teodorescuserban commented on #67
Update:

I had a feeling it has to do with our http-to-https redirect on our localstore (maybe datapusher would not handle well the 301 and 302 redirects) - it is not the case.

The issue is that our web server serving the files from the localdatastore sent them with a **text/html** content type header. For some reason datapusher bailed out on that.

I checked what mime type I get from the first r

[2014-09-09 23:02] teodorescuserban commented on #70
It's a cron job so it is automatic. However, because of the server being shut down (hardware failure), the cronjob has not been executed.
I executed IT manually.

[2014-09-09 23:02] #70 closed, assigned to teodorescuserban

[2014-09-10 07:30] cjhendrix commented on #67
Tricky one! Congrats all around on solving and thanks to @rgrp for the support.   Closing.  If we see additional problems, we can open new issues.

[2014-09-10 07:30] #67 closed, assigned to cjhendrix

[2014-09-10 13:23] teodorescuserban opened #71 "prod server ssl certificates + config tuneup"
Due to last modifications in ckan and cps, the ckan's indicator-specific pages need to query the newly created public api on prod cps (to get the indicators data).

The query is made to https side of prod cps **by the stag ckan** (through the protected lan). Hence, for the first time, I needed to actually configure the https on prod cps.

[2014-09-10 13:24] teodorescuserban commented on #71
Done.
Certificate + bundle + key installed. https serve the same content as http (no redirection occurs). maybe this needs to be changed.

[2014-09-10 13:24] #71 closed, assigned to teodorescuserban

[2014-09-10 15:09] cjhendrix opened #72 "Sarah gets a 401 error from nginx when trying to access staging (in Chrome)"
Tagging @danmihaila and @amcguire62  so they are aware.

![image](https://cloud.githubusercontent.com/assets/1654485/4219755/63246bce-38fc-11e4-8017-580212a19e89.png)

[2014-09-10 15:12] alexandru-m-g commented on #72
Seems to be related to the Basic Authentication that we require on staging. That's the error you get when you don't authenticate.

[2014-09-11 05:37] teodorescuserban commented on #72
I agree with Alex.
It should be solved if chrome is restarted and chrome cache is cleared.

[2014-09-11 20:33] teodorescuserban commented on #72
I hear from Sarah that this is not yet solved.
Is the Internet Explorer working as expected?

[2014-09-12 07:21] teodorescuserban opened #73 "add datastore logic to all scripts involving deployment of ckan prod db over to stag"
some errors occured on the last stag deploy and they were related with datastore db not being cleaned on stag.

add datastore logic to ckan-db-get-snapshot.sh script.

[2014-09-12 10:09] teodorescuserban commented on #37
Current status:
Daily offsite full backups.

Closing.

[2014-09-12 10:09] #37 closed, assigned to teodorescuserban

[2014-09-12 10:10] teodorescuserban opened #74 "Prepare DR Test on Oct 22nd"

[2014-09-12 10:54] teodorescuserban opened #75 "change a bit the scripts regarding the ckan db"
Changes required:
1. the old script will just get the last backup
2. a new script will do the actual db refresh

Ths way, devs will be able to use the first script to just get the prod db on their local dev env.

[2014-09-12 12:55] teodorescuserban commented on #75
Done by https://github.com/OCHA-DAP/hdx-infrastructure/commit/24ea9d1a2b76bae67ed08df25250f2e38a3dc533

[2014-09-12 12:55] #75 closed, assigned to teodorescuserban

[2014-09-12 13:04] teodorescuserban opened #79 "tracking update issues"
I am having issues updating the tracking data.
The error reads:

[code]

I remember solving this one with @alexandru-m-g however i do not recall how we did it.

Task would be to do a script that would scream when this error happens and identify where would that be. :)

Pinging @alexandru-m-g - please help me again when you got time (after vacation).

[2014-09-12 14:51] teodorescuserban commented on #79
Solved. Nvm, @alexandru-m-g
Need to document this though.
Leaving it open until after i automate this a bit and document it.

[2014-09-15 10:38] teodorescuserban opened #80 "fix email sending capabilities."
I will most likely do the following:
1. talk to our provider to get reverse dns entry for our ip
2. talk to our dns manager to have a separate zone for our subdomain, so that he can configure mail exchanger dns records
3. run through all configs on all our vms and make sure only our subdomain appears.

Pinging @cjhendrix

[2014-09-15 13:56] teodorescuserban commented on #80
I sent the request to change our reverse dns entry and this is processing as we speak.
However, it looks that our public IP used to access all sites is different from the IP our smtp session get out.
I made a request for that as well.
In the mean time, I tested hdx -> gmail sending process; it looks like we are hitting a greylist check sometimes - so if you are sending an email and it fails, sendi

[2014-09-15 15:40] cjhendrix commented on #80
So, are you telling us that right now, if a user submits a membership request, there's a good chance the email won't go a gmail address?
-----Serban Teodorescu notifications@github.com wrote: -----

To: OCHA-DAP/hdx-infrastructure hdx-infrastructure@noreply.github.com
From: Serban Teodorescu notifications@github.comDate: 09/15/2014 03:57PM
Cc: cjhendrix hendrix@un.orgSubject: Re: [hdx-infrastructu

[2014-09-15 17:58] teodorescuserban commented on #80
@cjhendrix yes

[2014-09-15 18:00] teodorescuserban commented on #80
Update status:
Item 1 and 3 from the inital list done.
Additionally, now our outgoing smtp sessions the "normal" source IP.

I will wait a few days to see how this improves the delivered rate.

[2014-09-16 12:33] teodorescuserban opened #81 "update the docs"
@cjhendrix had difficulties doing a query on production because db names in doc are not up-to-date.

Documentation regarding infrastructure description, different parts interaction, cron jobs, troubleshooting, etc needs to be updated.

Pinging @amcguire62 and @cjhendrix

[2014-09-16 13:20] teodorescuserban commented on #80
Update status: still no go; 1/3 or 2/3 emails get rejected.
Our dns provider added MX and TXT infos (but MX appears to work only if subdomain delagation is enabled and TXT about spf was incorrectly added with extra double quotes).
I started a discussion about getting our subdomain delegated so we can manage it ourselves.

[2014-09-16 13:50] teodorescuserban opened #82 "test2-ckan needs to be online with datastore and datapusher"
We need to close this datastore datapusher test one way or another.
If we have the test2 ckan instance up, I can debug with Rufus and see how it works.
Pinging @amcguire62 to assign priority.

[2014-09-17 10:59] teodorescuserban commented on #80
Update status: 20/20 working after making postfix use only IPv4.
It appears the gmail IPv6 MX servers have a different policy.

See also:
http://tanguy.ortolo.eu/blog/article109/google-ipv6-smtp-restrictions
http://blog.hqcodeshop.fi/archives/120-Thanks-Google-for-your-new-IPv6-mail-policy.html
http://blog.hqcodeshop.fi/archives/122-Fixing-Googles-new-IPv6-mail-policy-with-Postfix.html
http://post

[2014-09-17 11:00] teodorescuserban commented on #80
This is not yet a closed issue, because we do not have ALL antispam mechanisms in place.
We need SPF and DKIM.
I installed and configured DKIM on production server.
We only need to have added correctly in our DNS the following:

hdx.rwlabs.org descriptive text "v=DKIM1; k=rsa; ;p=~~MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDLIlTT8u/tV08jDNMZ0t2jE69WS3AeIlFDroqOBjRAqCoyZIH9Da1MM1vp8Ot6Lwbt0LJxVvrRuE21V

[2014-09-18 21:30] teodorescuserban commented on #80
dkim in place.

All done :)

Thank you, @cjhendrix for generating this procedure.

[2014-09-18 21:30] #80 closed, assigned to teodorescuserban

[2014-09-19 10:13] cjhendrix commented on #80
If we hadn't had the email bug, I wonder how long we would have gone without noticing this one!

[2014-09-22 12:33] teodorescuserban commented on #82
it has been decided to leave the stag with datastore and datapusher enabled.

[2014-09-22 12:33] #82 closed, assigned to teodorescuserban

[2014-09-22 13:44] teodorescuserban opened #83 "change dev hostnames."
Add dns records for:
dev.hdx.rwlabs.org
dev-docs.hdx.rwlabs.org
dev-data.hdx.rwlabs.org
dev-manage.hdx.rwlabs.org
Change nginx configs on dev.

[2014-09-22 15:03] teodorescuserban commented on #83
also installed the ssl certificate on dev so devs wont receive any errors when connecting :)

[2014-09-22 15:03] #83 closed, assigned to teodorescuserban

[2014-09-22 15:10] teodorescuserban commented on #72
I was investingating with Javier past week. It seems to be related to users location (more users reported the same issue, each on a different browser, but it worked when asked to use another browser).
I recommend reinstalling the browser at fault (if it's not IE :dancer: )

[2014-09-22 15:10] #72 closed, assigned to teodorescuserban

[2014-09-23 07:31] amcguire62 commented on #81
please go ahead and update

[2014-09-26 20:17] teodorescuserban commented on #27
Guess what? :)
Google Doc is finally out!
Read it [here](https://docs.google.com/document/d/1eU1RSkiBGsADs3t5MTEEY1wVYpLQw0f3FXBbZjl0qe4/edit?usp=sharing)

[2014-09-30 21:20] teodorescuserban opened #84 "enable datastore on prod ckan"
Done.
@cjhendrix , see [here](https://data.hdx.rwlabs.org/api/3/action/datastore_search?resource_id=_table_metadata); further docs [here](http://data.hdx.rwlabs.org/api/3/action/datastore_search?resource_id=_table_metadata)

[2014-09-30 21:20] #84 closed, assigned to teodorescuserban

[2014-09-30 21:26] teodorescuserban opened #85 "script to cleanup the backups"
I need one script that will clean up the old, unrequired backups, giving it the following:
1. how many hourly (0 = none)
2. how many daily
3. how many weekly
4. how many monthly
5 how many yearly

This script should have a counterpart on the dr site; also, this script should be aware not to push again the files removed by the other script.

[2014-09-30 21:27] teodorescuserban opened #86 "cps static files refresh"
As per discussion with Godfrey Sept 9th:

[22:46:52] Serban Teodorescu: maybe next month we can switch the modus operandi so that i will run the files refresh script on monday noon GMT UNLESS you are telling me the import is unsuccessful.
[22:47:22] Godfrey Takavarasha: That will be a good idea.

[2014-09-30 21:37] teodorescuserban commented on #86
For now, it was runnning manually.
I will change it after asking @amcguire62 and @cjhendrix
Please comment.

Be careful, once this job becomes an automatic one, we need to advise the import team that is imperative to announce the sysadmins to cancel the job if import was not done (to not get again the same files) or even worse, to not end up with wrong files being served (after a cps report is sav

[2014-09-30 21:44] teodorescuserban commented on #27
Any comment, @davidmegginson , @cjhendrix , @amcguire62 ?

[2014-09-30 21:47] teodorescuserban opened #87 "cps db snapshot is needed."
Just like ckan db snapshot.
And while we're at it, we also need a cps db overwrite script.

[2014-09-30 21:50] teodorescuserban commented on #24
Going to close this one and make another issue for the logs.
Still not backing them up :|

[2014-09-30 21:50] #24 closed, assigned to teodorescuserban

[2014-09-30 21:51] teodorescuserban opened #88 "Backup the logs too"
As @davidmegginson mentioned in #24 , we need to backup the logs as well.
Could have been very good when the emails issue occured.

[2014-09-30 21:53] teodorescuserban opened #89 "Backup the logs too"
As @davidmegginson mentioned in #24 , we need to backup the logs as well.
Could have been very good when the emails issue occured.

[2014-09-30 21:55] teodorescuserban commented on #88
Duplicated by mistake.

[2014-09-30 21:55] #88 closed, assigned to teodorescuserban

[2014-09-30 21:57] teodorescuserban opened #90 "Align the backup and sync times on VM"
We need to decide what is the "daily" backup for every component and every VM, among 24 hourly backups.
Should it be the "normal" one, at 03 AM? Or just the first one?
This is linked with #85

[2014-10-01 07:42] cjhendrix commented on #86
@teodorescuserban I need to understand this better.  I have a call with data team on Friday and will discuss with them then.  Is it ok?

[2014-10-01 07:49] cjhendrix commented on #84
The two links produce the same result as far as I can tell.  Only difference in the URL is http and https?  But thanks for pointing it out.

[2014-10-01 09:47] teodorescuserban commented on #86
Of course. We can have a short call as well or you can invite me over in their call when you are talking about this subject.

[2014-10-01 09:48] teodorescuserban commented on #84
just copy / paste failure, @cjhendrix
the second link should be to: http://docs.ckan.org/en/ckan-2.2/datastore.html

[2014-10-01 13:49] cjhendrix commented on #86
Ok, Serban and I discussed.  It's ok to automate the caching script.  If an import fails, the CPS database will be intact and the caching script will just replace the cache with identical copies.

However, if the import fails and is not run successfully until after Monday 12:00 GMT, then the data team should request a manual run of the caching script to update.  Pinging @amcguire62 so he is aware.

[2014-10-01 14:58] teodorescuserban commented on #87
done.

[2014-10-01 14:58] #87 closed, assigned to teodorescuserban

[2014-10-01 15:00] teodorescuserban opened #94 "multiple changes required for devtool scripts and cacheUpdate"
Do it in one pass.
Compare prod, stag and dev.
There are specifics.

[2014-10-06 11:16] danmihaila opened #95 "Reset API key for an user"
Create a script that will reset the API key of an user, changing the setting direct into the database. In case the user is hdx, the change should propagate (manual or automatic) to other scripts (CPS, etc).

[2014-10-07 08:37] teodorescuserban commented on #86
Closed.
It is now on automatic mode.

[2014-10-07 08:37] #86 closed, assigned to teodorescuserban

[2014-10-07 13:53] teodorescuserban commented on #27
As of now, we have a test ckan on ubuntu 14.04 LTS residing on the backup datacenter:
http://ro.data.hdx.rwlabs.org
Installation went on wthout any particular problems; I still need to set up dataproxy and cps to see isf all is green.
After that , I would require a few hours of testing from our team to spot any weird behaviors, then.. we're good to go.
Either migrate as soon as possible according

[2014-10-07 14:22] teodorescuserban commented on #90
changed on dev, stag and prod all backups to be run between 03:00 and 03:59 AM UTC
also renamed the older backups to line up the hours (like if it was on 04:13 AM UTC i renamed it to appear it was made on 03:13 AM UTC).

[2014-10-07 14:22] #90 closed, assigned to teodorescuserban

[2014-10-07 14:26] teodorescuserban commented on #85
done.

the script that sync backups offsite will not take into consideration the hourly backups and also the backups older than 7 days.
the offsite backup server has it's own policy.

at the moment, on prod we have the folowing policy:

[code]

After running the cleaning script our backup used space got down from 74GB to 13GB :)

pinging @amcguire62 regarding space consuption.

closing.

[2014-10-07 14:26] #85 closed, assigned to teodorescuserban

[2014-10-07 14:28] teodorescuserban commented on #47
pinging @cjhendrix , @amcguire62 , @davidmegginson , @danmihaila
it would be great to draw a line for that, and at least for the scrappers archives, define what is too old to care about it - these are candidates for removal.

[2014-10-10 09:07] teodorescuserban opened #96 "manually run ckan"
Make a script to manually run ckan with paster for better debugging.

[2014-10-10 09:17] cjhendrix commented on #32
@amcguire62 @teodorescuserban After our hardware failure a few weeks ago, I believe we decided to set up Pingdom as an additional monitoring system.  Any progress on that?

[2014-10-13 10:43] teodorescuserban commented on #36
closing.
only https://github.com/OCHA-DAP/DAP-Blog/issues/94 remains.

[2014-10-13 10:43] #36 closed, assigned to teodorescuserban

[2014-10-13 10:48] teodorescuserban commented on #27
1. changed the url to https://ro-data.hdx.rwlabs.org/
2. added dataproxy
3. added cps @ https://ro-manage.hdx.rwlabs.org/

pinging @amcguire62 - we're good to go for testing.

[2014-10-13 12:28] teodorescuserban commented on #85
Solved by https://github.com/OCHA-DAP/hdx-infrastructure/pull/97

[2014-10-13 13:50] teodorescuserban commented on #89
On prod:
- added backup the `logrotate` config and customized it (added `dateext` to most of our interesting logs so they wont get overwritten).
- added the daily cronjob to sync logs offsite.

On stag:
- added backup the `logrotate` config and customized it (added `dateext` to most of our interesting logs so they wont get overwritten).
- added the daily cronjob to sync logs offsite.

[2014-10-13 14:10] teodorescuserban commented on #89
I don't care about dev logs just yet :) so just closing.
Pinging @davidmegginson and @amcguire62

[2014-10-13 14:10] #89 closed, assigned to teodorescuserban

[2014-10-13 14:12] teodorescuserban commented on #32
I talked with @amcguire62 and will create the account and enable tests as late as tomorrow cob.

[2014-10-13 16:53] luiscape opened #98 "Update UNHCR Real-time Scraper"
I am not sure where to put it, so I'm putting it here. (Assigned to me.)

The UNHCR real-time data scraper has stopped working. The likely cause is that UNHCR just updated its API, deprecating the method I was using. (I assume that's a good thing. The method was, indeed, corky.) I'll be updating the scraper on Thursday (16).

The dataset can se be accessed fine (https://data.hdx.rwlabs.org/dataset

[2014-10-14 11:20] cjhendrix commented on #86
Pinging @takavarasha to make sure he is aware of this.

[2014-10-14 20:26] teodorescuserban commented on #98
I am not sure where is the origin of that dataset resources.
I am pretty sure it's not coming by the scrappers route (scrapper zip file updated weekly -> published to ckan -> got from cps by importing the data -> publishing into ckan again by cps).
Can you give me more details, @luiscape ?

[2014-10-14 20:27] teodorescuserban commented on #86
I notified @takavarasha on skype soon after closing it.

[2014-10-16 02:18] luiscape commented on #98
Hi @teodorescuserban that scraper doesn't feed data to CPS (yet!). It lives solely on ScraperWiki. CKAN simply links to the final CSV output living on ScraperWiki's servers. Take a look at the URL here: https://data.hdx.rwlabs.org/dataset/unhcr-information-portal-data/resource/b8b5670f-ce85-4c50-bb30-aa6003e29f2e

Not the best, but simple solution. The next iteration will actually upload the CSV f

[2014-10-16 02:18] #98 closed, assigned to luiscape

[2014-10-16 08:13] rufuspollock commented on #98
One comment: it would definitely be sensible to load the CSV files directly into the CKAN _DataStore_ rather than uploading the data to the FileStore (assuming they are "good" CSV files).

[2014-10-16 13:52] luiscape commented on #98
@rgrp That would be nice!  On that note, @takavarasha, @cjhendrix or @danmihaila do you know if the DataStore is active and working? I would love to give it a spin.

[2014-10-16 15:22] teodorescuserban commented on #98
https://github.com/OCHA-DAP/hdx-infrastructure/issues/84
Please check out the docs first.
The datastore is on but only api calls can load up and query, @luiscape

[2014-10-16 15:35] teodorescuserban commented on #98
Also, see:
https://github.com/OCHA-DAP/hdx-ckan/issues/1175
https://github.com/OCHA-DAP/hdx-ckan/issues/1234
https://github.com/OCHA-DAP/hdx-ckan/issues/1235

I am sorry at this point you were not member of the datastore chat room. Thing is, the datastore only provides the functionality and the api; for anything related to ui we have to use datapusher, which is not enabled on prod right now.

In o

[2014-10-16 15:47] cjhendrix commented on #98
So, datastore, yes (which is only accessible through the API).

Datapusher, no.  So uploads through the interface are not put into datastore.

[2014-10-16 16:02] luiscape commented on #98
@teodorescuserban + @cjhendrix great! So, how a dataset gets added to the DataStore? And how can I add one via the API (the DataStore API I assume ...)?

[2014-10-17 09:09] rufuspollock commented on #98
@luiscape super simple using the API (if you are happy to do a small bit of coding).

To get started here's the example DataStore upload of the original HDX dataset we did as an example for the project back in June:

https://gist.github.com/rgrp/0b24589bd3293234917b

In particular, take a look at:

https://github.com/rgrp/hdx-common-humanitarian-dataset/blob/master/scripts/upload.py

If you are ju

[2014-10-17 14:54] luiscape commented on #98
@rgrp That's very nice -- thank you loads for sharing. I'll keep the `upload.py` script in our tool-kit here. What are your opinions @cjhendrix and @teodorescuserban? Having the DataStore API would be very nice to make visualizations and other simple applications on top of certain datasets. When do you think me and @takavarasha can start experimenting with it?

[2014-10-17 15:24] rufuspollock commented on #98
@luiscape I think that would be great.

As an example of using the DataStore API I recently scraped the IMF World Economic Outlook data and put it in CKAN DataStore (on the DataHub) and then started work on a super simple dashboard (still very incomplete but for a few hours work it is functional):

http://dev.rufuspollock.org/imf-weo/ (note table is currently a little weird due to a css issue with

[2014-10-17 15:52] cjhendrix commented on #98
It's there on prod, so I think you can start your experimenting now.  One limitation may be that all of our indicators are just pointers to CPS, so the data is not kept in the datastore.

[2014-10-17 17:35] rufuspollock commented on #98
As I've long suggested there's no reason you couldn't keep data - including indicator data - in the datastore and it could definitely be worth experimenting with :-)

[2014-10-17 18:02] luiscape commented on #98
@cjhendrix I can't see the DataStore active anywhere in the prod instance. Can you give me a link to an endpoint? Is the `datastore_active` flag working? If I take a look at this dataset https://data.hdx.rwlabs.org/dataset/internet_users by querying the CKAN API, all the `datastore_active` flags are marked as `false` ...

https://data.hdx.rwlabs.org/api/action/package_show?id=internet_users

[2014-10-18 09:55] teodorescuserban commented on #98
As I said, please check the docs first.
https://data.hdx.rwlabs.org/api/3/action/datastore_search?resource_id=_table_metadata
http://docs.ckan.org/en/ckan-2.2/datastore.html#test-the-set-up (but read all file)
datastore has different api calls.

[2014-10-20 08:03] cjhendrix commented on #98
@luiscape I don't think there are any datasets that have been loaded via the API, so there wouldn't be anything in the datastore.  Would that explain what you are seeing?

To automatically push contributed datasets to the datastore, we would have to turn on datapusher (which we did on stag, for testing).  However, this creates some changes in the interface and some (imho) undesirable modifications

[2014-10-20 08:08] cjhendrix commented on #98
@rgrp Absolutely.  Just a question of priorities.

[2014-10-24 19:10] teodorescuserban commented on #47
tunrs out that even when you delete a resource, the file belonging to that resource is not deleted...

[2014-10-24 19:12] rufuspollock commented on #47
that's a feature not a bug ;-) (remember you an undelete stuff and you may want archived data to stay around). At the same time, I imagine in some cases you may want to genuinely purge data. If this is an issue you want to raise a bug / feature request on CKAN core.

[2014-10-24 20:01] luiscape commented on #47
@teodorescuserban That _feature_ could be useful when analyzing the activity history of a particular dataset. I spend some time investigating this today and thought that could be useful.

Now, @rgrp even if the resource continues to live in our servers, it seems that the activity list of that resource, with proper links to the files kept, doesn't exist in CKAN. Is that right? For clarity, I mean `

[2014-10-28 16:13] cjhendrix opened #99 "Kill the hitec cache!"
So that private datasets aren't available via URL.

Let us know if this is likely to have other undesirable consequences.

Tagging @amcguire62

[2014-10-28 16:27] danmihaila opened #100 "Deployment scripts adjustements"
I think we need to improve our deployment scripts by adding a parameter to deploy a specific tag (this should be available for all servers):
- in case there is NO param it will deploy the branch (dev/staging/prod)
- in case there is a param it will deploy the tag which is = with the value of the param

[2014-10-29 05:52] teodorescuserban commented on #99
I can email them to clear cache now, however we need to ensure rhe files wont be cached anymore by making sure ckan send proper cache control headers.
I can also add them fron nginx.

[2014-10-29 08:32] cjhendrix commented on #99
Made this issue https://github.com/OCHA-DAP/hdx-ckan/issues/1613 for the ckan side of this.

[2014-11-03 07:47] cjhendrix opened #101 "Change to /ebola sort order"
From ST:
before I forget, can you change the default behavior on the /ebola page to sort by last modified instead of relevance? https://data.hdx.rwlabs.org/ebola

[2014-11-03 07:49] teodorescuserban commented on #101
Will do. Easy.

[2014-11-03 08:47] teodorescuserban commented on #101
Done.
Now `/ebola` goes to `/dataset?q=ebola&sort=metadata_modified+desc` instead of just `/dataset?q=ebola`

[2014-11-03 08:47] #101 closed, assigned to teodorescuserban

[2014-11-03 10:45] teodorescuserban opened #102 "dockerize ckan"
Relatively simple until I hit https://github.com/ckan/ckan/issues/1730

[2014-11-03 10:52] rufuspollock commented on #102
Just to check: you know ckan core is dockerized and dedicated repo for ckan dockerization stuff is https://github.com/ckan/ckan-docker

[2014-11-03 11:10] teodorescuserban commented on #102
Yes, but as you might know, we are using our forked ckan version :(
I will double check that link you gave me.
Thank you.

[2014-11-03 16:23] teodorescuserban commented on #102
Update @rgrp : ckan dockerfile is still broken but good enough to be inspired by it. :)
Thanks again.

[2014-11-11 14:20] teodorescuserban commented on #102
done.
still needs dataproxy..

[2014-11-11 14:20] #102 closed, assigned to teodorescuserban

[2014-11-11 14:23] teodorescuserban opened #103 "dockerize cps"

[2014-11-11 14:23] teodorescuserban commented on #99
done.

[2014-11-11 14:23] #99 closed, assigned to teodorescuserban

[2014-11-12 18:51] rufuspollock commented on #102
@teodorescuserban if ckan docker file is broken do please report it on that repo :-)

[2014-11-12 18:51] rufuspollock commented on #102
@teodorescuserban also please could you report on that repo (maybe in an issue) your experience and your work - in terms of your own work going forward it will obviously help you if your changes get merged upstream (also how have you forked ckan and are you pushing changes upstream?)

[2014-11-13 11:58] teodorescuserban commented on #102
It's just old and incomplete.
Also the description does not contain additional scripts used for that image.
So what I did, I just started from phusion/base-docker and made the following images:
hdx-base (base image for all our dockers) from which I built
hdx-base-python (base image for all our python apps) from which I built
hdx-base-ckan (base image for all our ckan dockers) from which I built
hd

[2014-11-13 11:59] teodorescuserban commented on #102
Basically, assuming I already have ckan db and datastore db configured in a folder on my docker's host, I can spin up all ckan deps with one command :)

[2014-11-20 09:37] teodorescuserban opened #109 "email flow from dev and stag"
Fix email flow from dev and stag to be able to get all emails about cron jobs and others.

[2014-11-20 09:38] teodorescuserban opened #110 "Migrate stag dataproxy on docker"

[2014-11-24 13:31] teodorescuserban opened #111 "rewrite all devtools to be used inside docker"
different location, different assumptions.
should be easy.

[2014-11-25 14:57] teodorescuserban opened #112 "changes to start script for docker services"
we need to add to /etc/hosts the entries for dev stag and prod vms ip.

[2014-11-25 14:58] teodorescuserban opened #113 "add zap-gunicorn script to docker"
adding a kill -HUP to the lowest pid of gunicorn on all python based containers to easily restart it.

[2014-12-23 09:38] cjhendrix opened #114 "Help cj troubleshoot vpn and curl"
I'm a bit stuck with VPN and curl.  This is not an urgent issue, but I would like to resolve it sometime in January.
1. VPN will not connect on my home computer (I'll add a screenshot of the error later)
2. At work, VPN works, but with an error:
   ![image](https://cloud.githubusercontent.com/assets/1654485/5536305/8d132be8-8a8f-11e4-9d89-7a1c90cd31d4.png)
3. Using cURL against stag doesn't work,

[2015-01-01 21:55] teodorescuserban opened #115 "emails from containers not arriving"
The emails from containers processes are not being signed by opendkim and consequently are being dropped by gmail and other email providers.

Alternative solution: enable email container as well.

[2015-01-05 13:36] teodorescuserban commented on #115
Linked with https://github.com/OCHA-DAP/hdx-ckan/issues/2045
Emails about users, orgs etc are in fact working. Only ckan errors-related emails do not get delivered.

[2015-01-05 13:37] teodorescuserban commented on #114
@cjhendrix please ping me tomorrow (tuesday) around your 10:30AM

[2015-01-05 13:37] teodorescuserban commented on #113
added even better :)

[2015-01-05 13:37] #113 closed, assigned to teodorescuserban

[2015-01-05 13:37] teodorescuserban commented on #112
done.

[2015-01-05 13:37] #112 closed, assigned to teodorescuserban

[2015-01-05 13:38] teodorescuserban commented on #110
done for a long time. forgot to close it.

[2015-01-05 13:38] #110 closed, assigned to teodorescuserban

[2015-01-05 13:38] teodorescuserban commented on #109
Still need some changes, but in the end we will migrate to email container.

[2015-01-05 13:39] teodorescuserban commented on #103
done a few weeks ago. did not closed it :|

[2015-01-05 13:39] #103 closed, assigned to teodorescuserban

[2015-01-05 13:40] teodorescuserban commented on #100
Done by having a CKAN_BRANCH env variable in the Dockerfile.
When building the image, the selected branch / tag will be built.

[2015-01-05 13:40] #100 closed, assigned to teodorescuserban

[2015-01-05 13:41] teodorescuserban commented on #96
No need.
Dockerized versions of ckan will spit out all logs as it should be:
ckan.access.log - accesses
ckan.error.log - errors
ckan.pain.log - critical errors and exceptions.

[2015-01-05 13:41] #96 closed, assigned to teodorescuserban

[2015-01-05 13:41] teodorescuserban commented on #94
Done.

[2015-01-05 13:41] #94 closed, assigned to teodorescuserban

[2015-01-05 13:42] teodorescuserban commented on #27
Ubuntu 14.04 is used on docker images.
Migration has been successful.
:)tagging @davidmegginson , @danmihaila , @amcguire62 , @cjhendrix

[2015-01-05 13:42] #27 closed, assigned to teodorescuserban

[2015-01-05 13:43] teodorescuserban commented on #47
tagging @cjhendrix - please help me on this one. local filestore is at 2.4 GB now and i need to run hourly backups :(

[2015-01-05 13:43] teodorescuserban commented on #73
Done.

[2015-01-05 13:43] #73 closed, assigned to teodorescuserban

[2015-01-05 13:44] teodorescuserban commented on #74
Never happened...

[2015-01-05 13:44] #74 closed, assigned to teodorescuserban

[2015-01-05 13:45] teodorescuserban commented on #95
Impossible to do in the current config.
Ckan has one set of tools, cps another. They share nothing anymore.
I will consider making cps tool update the api key in config from cli, something like:
cpstool apikey update key=0000-0000-00000-0000

[2015-01-05 13:50] teodorescuserban opened #116 "deploy email container on prod"

[2015-01-05 13:54] cjhendrix commented on #47
@amcguire62  We are looking at eliminating the backups of previous versions of a file (see #1873 ).   In the meantime, do we still need hourly backups?

[2015-01-05 14:13] cjhendrix commented on #27
:)

[2015-01-05 14:28] teodorescuserban commented on #116
Done.

[2015-01-05 14:28] #116 closed, assigned to teodorescuserban

[2015-01-05 16:45] amcguire62 commented on #47
Having discussed with Sarah  - we can move from hourly backups to making a backup every 8 hours. (ie 3 over a 24 hour period) Serban with input from CJ/Dan to decide optimum time.

[2015-01-06 05:59] teodorescuserban commented on #47
I can keep doing hourly backups for ckan db and datastore db - they are rather small.
The 8 hours for filestore sounds great though.

[2015-01-07 09:51] teodorescuserban opened #117 "prod cron emails does not get sent"
After getting rid of postfix on docker host, I can't get cron-related emails.

[2015-01-07 10:11] teodorescuserban commented on #117
Fixed.

I had to install msmtp (very lightweight, awesome program) that will be used instead of the default sendmail binary.

Instalation details:
1. install msmtp

[code]
2. create config for it in `/etc/msmtprc` (I assume you are publishing the email container port 25 on 127.0.0.1)

[code]

   The domain parameter decides what to send in response to EHLO; the rest of the parameters are straightf

[2015-01-07 10:11] #117 closed, assigned to teodorescuserban

[2015-01-07 10:19] teodorescuserban opened #118 "Prepare docs and training for DR Tests on Jan 2015"
@cjhendrix and @danmihaila will rebuild our infra from the ground up as a DR Test.

I will prepare a nice gdoc for them and talk about it in a call.

[2015-01-19 14:34] #118 closed, assigned to teodorescuserban

[2015-01-19 16:18] #114 closed, assigned to teodorescuserban

[2015-01-19 16:20] teodorescuserban opened #119 "cps tool for containers"
make hdx cps swiss army knife for cps :)

[2015-01-19 16:20] teodorescuserban commented on #119
done.

[code]

WIP         restore   - overwrite db content from a snapshot
                [db1] - restore on what local db? (default: cps)
                [-u user] - restore using what user? (default: cps)
        deploy        - deploy the latest master branch
WIP            [tags/tag]- deploy a certain tag
WIP            [branch]  - deploy a certain branch
        pgpass        - create the p

[2015-01-19 16:20] #119 closed, assigned to teodorescuserban

[2015-01-25 04:51] ghost commented on #79
Hi @teodorescuserban. I've just run into this issue myself in CKAN trying to run the tracking update paster task. I don't suppose you could point me towards how to were able to fix? or perhaps there is a work-around that you've found?

[2015-01-26 14:18] teodorescuserban commented on #79
Hi @george-sattler
Unfortunately I did not document properly wtf I did.
All I remember is that somehow i had some datasets with **almost** the same name (e.g. `dataset_name` and `dataset-name`) and somehow both got the slug, hence the duplicates.
I will run again over this issue these days and I am going to make sure I document the whole thing (I will also ping you afterwards).

[2015-01-27 07:22] ghost commented on #79
Thanks very much for getting back to me - I figured that it was something like two datasets having some similar names. I came up with a workaround that's not ideal but it at least enabled the tracking update task to get passed the issue:
- replace the offending SQL update statement with the version that's currently in master (it's slightly different)
- run the tracking update task
- replace the SQ

[2015-07-06 12:47] #115 closed, assigned to teodorescuserban

[2015-07-06 12:48] #32 closed, assigned to teodorescuserban

[2015-07-06 12:48] #111 closed, assigned to teodorescuserban

[2015-07-06 12:48] #109 closed, assigned to teodorescuserban

[2015-07-06 12:48] #95 closed, assigned to teodorescuserban

[2015-07-06 12:48] #81 closed, assigned to teodorescuserban

[2015-07-06 12:49] #79 closed, assigned to teodorescuserban

[2015-07-06 12:49] #47 closed, assigned to teodorescuserban

[2015-07-13 13:03] alexandru-m-g opened #120 "Changes to nginx to be able to see the rq-monitor"
Nginx should map some URL to  http://GIS-REST-LAYER-HOST/monitor/

Also the same information can be seen from command line like this:
`rqinfo --url redis://redis:6379/1`
Maybe we can add this to hdxckantool. **One thing to NOTE though**: For the _rqinfo_ tool to be available you need: `pip install rq` ( so for now this would only work in the GISRestLayer container )

More information about this ca

[2015-07-23 21:01] teodorescuserban commented on #120
Done.
We just need to protect it somehow.
@alexandru-m-g lets have a call when things get really quiet in my neighborhood :)
Leaving it open so we do not forget.

[2015-08-05 18:42] teodorescuserban opened #121 "cps ran out of space"
catalina.out = 7.7GB
implement logrotate or something.

[2015-08-05 21:38] takavarasha opened #122 "Raw scraperwiki file not downloading"
The three rawscraperwiki datasets have resources that will not download.

https://data.hdx.rwlabs.org/dataset/raw-fts-input
https://data.hdx.rwlabs.org/dataset/raw-scraperwiki-input
https://data.hdx.rwlabs.org/dataset/raw-reliefweb-statistics

Putting the issue here because it may be related to infrastructure and it only affects the three raw scraperwiki datasets that are automatically upload on T

[2015-08-05 21:50] teodorescuserban commented on #122
The fts should be downloadable.
The other two have not yet updated after the ofs migration.

[2015-08-05 21:52] takavarasha commented on #122
For FTS, I am redirected to the login page when I click on the download link: https://data.hdx.rwlabs.org/user/login?came_from=http%3A%2F%2Fdata.hdx.rwlabs.org%2Fdataset%2F9a3efa81-c47a-49ff-a9f7-9f42dbe87237%2Fresource%2F12300d47-dc3b-480d-bcd6-9a2872b26d23%2Fdownload%2Fcsv.zip

[2015-08-06 11:38] teodorescuserban commented on #122
Because `Unauthorized to read package raw-fts-input` ?

After you login, it is working?

[2015-08-06 11:40] teodorescuserban opened #123 "Changes to nginx to reimplement http basic auth"
Make the required changes to reimplement http basic auth on new test and feature stack.
While you're at it, make this configurable at install time (or leave auth on by default).

[2015-08-06 21:15] takavarasha commented on #122
No. Its a loop. Login does not succeed, and I am redirected back to https://data.hdx.rwlabs.org/user/login?came_from=http%3A%2F%2Fdata.hdx.rwlabs.org%2Fdataset%2F9a3efa81-c47a-49ff-a9f7-9f42dbe87237%2Fresource%2F12300d47-dc3b-480d-bcd6-9a2872b26d23%2Fdownload%2Fcsv.zip

[2015-08-12 12:40] takavarasha commented on #122
The issue has now been reported on the following resource as well: http://data.hdx.rwlabs.org/dataset/860880cc-03df-48e2-80ac-8d7f93911d2e/resource/05b94697-d2aa-49f8-91fb-f3b528b88cc2/download/npl-admin-shp.zip

[2015-08-12 12:46] danmihaila commented on #122
@takavarasha I think we know what is the problem, we are working on this. It might be a server related problem. will let you know when is fixed.

[2015-08-12 13:07] danmihaila commented on #122
@takavarasha can you please check fts?
I see for these datasets:
https://data.hdx.rwlabs.org/dataset/raw-fts-input
https://data.hdx.rwlabs.org/dataset/raw-scraperwiki-input
https://data.hdx.rwlabs.org/dataset/raw-reliefweb-statistics
the link for resources is pretty strange:
http://data.hdx.rwlabs.org/storage/f/2015-08-07_02-06-01/csv.zip
we moved away of OFS storage to a new format...how are thes

[2015-08-12 13:55] takavarasha commented on #122
There is a weekly script updating this three datasets. @teodorescuserban can provide more information on that one

[2015-08-12 20:03] teodorescuserban opened #124 "ssl issues with current version of python on ubuntu 14.04"
no sni on 2.7

[2015-08-14 20:04] takavarasha commented on #122
@danmihaila,clicking on the three raw-xxx datasets now gives a server error.

https://data.hdx.rwlabs.org/dataset/raw-fts-input
https://data.hdx.rwlabs.org/dataset/raw-scraperwiki-input
https://data.hdx.rwlabs.org/dataset/raw-reliefweb-statistics

[2015-08-14 20:23] danmihaila commented on #122
Are you logged in? They are private resource...i just clicked on first dataset and it is working

[2015-08-14 20:34] takavarasha commented on #122
@danmihaila, my bad. I meant to say clicking on the resources inside these three datasets now gives a server error. Before it was going into a loop asking for login.

[2015-08-20 10:42] teodorescuserban commented on #124
Solved it temporarily by @alexandru-m-g by the addition of `VERIFY_CKAN_SSL` param to app.conf of gislayer.

[2015-08-20 10:42] #124 closed, assigned to teodorescuserban

[2015-08-20 10:43] teodorescuserban opened #125 "staging redirects mess up api calls"
`POST` get transformed into `GET` after the redirect.

[2015-08-20 10:45] teodorescuserban commented on #125
I changed the redirect code to 307 (see https://en.wikipedia.org/wiki/HTTP_302)
Solved.

[2015-08-20 10:45] #125 closed, assigned to teodorescuserban

[2015-08-20 15:18] teodorescuserban commented on #120
This is fixed.
Closing.

[2015-08-20 15:18] #120 closed, assigned to teodorescuserban

[2015-08-20 15:19] teodorescuserban opened #126 "Backup volume location for ckan and cps is wrong"
The mapped location for volumes has an extra `/backup` sufix, making ckan and cps to do the backups in `backups/backup` folder.

[2015-08-20 15:22] teodorescuserban opened #127 "fix extra dash on varnish config"
There is an extra dash on `VIRTUAL_HOST` env var in varnish common.yml

[2015-08-20 15:23] teodorescuserban opened #128 "wrong db alias for blog container"
not sure if we need this.
anyway, if we do need it, it should be the otherway around (db: ip, not ip: db).

[2015-08-20 15:23] teodorescuserban opened #129 "add util container to docker compose yml file"

[2015-08-20 23:36] #126 closed, assigned to teodorescuserban

[2015-08-20 23:36] #127 closed, assigned to teodorescuserban

[2015-08-20 23:36] #128 closed, assigned to teodorescuserban

[2015-08-20 23:36] #129 closed, assigned to teodorescuserban

[2015-08-21 15:19] takavarasha opened #130 "Google analytics data for hdx-repo may contain events from test-data"
I noticed in the google analytics monthly statistics for July that a dataset used to test the geopreview made its way into the top 10 shared datasets. I wonder if it is possible that traffic from our test-data and demo-data servers or other sources is being recorded in the google analytics for the repo. Pinging @amcguire62 and @danmihaila so they can also follow up just incase this is not an issue

[2015-12-07 11:47] teodorescuserban commented on #123
Fixed long time ago.

[2015-12-07 11:47] #123 closed, assigned to teodorescuserban

[2015-12-07 11:47] teodorescuserban commented on #121
Fixed long time ago (changed log levels from info and debug to warning).

[2015-12-07 11:47] #121 closed, assigned to teodorescuserban

[2015-12-07 11:48] teodorescuserban commented on #122
Fixed long time ago.

[2015-12-07 11:48] #122 closed, assigned to nobody

[2015-12-07 11:48] teodorescuserban commented on #130
Related to http auth not being enabled by default on staging.
Fixed long time ago.

[2015-12-07 11:48] #130 closed, assigned to nobody

[2015-12-07 11:48] teodorescuserban opened #131 "Bump nginx from 1.4.6 to 1.8.0"

[2015-12-07 11:50] teodorescuserban opened #132 "Change all gunicorn instances log format"
We need to see the real ip in the logs of every gunicorn instance.
Use "X-Forwarded-For".
1. ckan
2. dataproxy
3. gislayer
   ...

[2015-12-07 11:51] teodorescuserban commented on #132
Update: it looks like our old 1.4.6 nginx is incorrectly sends X-Forwarded-For as X-Real-IP.
Change it to send the actual X-Forwarded-For.

[2015-12-07 11:53] teodorescuserban commented on #132
ckan docker images repo fixed.
nginx docker image fixed for ckan.

[2015-12-07 11:54] teodorescuserban opened #133 "change nginx logs format"
All logs should get the real ip of the requester.

[2015-12-07 11:56] teodorescuserban opened #134 "Modify nginx cache params"
See OCHA-DAP/hdx-ckan#3756

[2015-12-07 11:57] teodorescuserban opened #135 "make nginx easier to switch upstreams"
Small script perhaps?

[2015-12-07 11:58] teodorescuserban opened #136 "Overhaul nginx config: separate upstreams config (rewrites and such)"

[2015-12-07 11:58] teodorescuserban opened #137 "Overhaul nginx config: expose other internal service to outside"
make available from outside (with proper protection) the internal services (like for example solr and gisapi); this is needed from time to time for our devs or data team (e.g. needed by CJ recently to get a full picture of current COD datasets)

[2015-12-07 11:59] teodorescuserban opened #138 "Overhaul nginx config: separate cache configs"

[2015-12-07 12:02] teodorescuserban opened #139 "Overhaul nginx config: separate main nginx instance"
(I don't remember what was the idea, but I'll comment on it.)

[2015-12-07 13:33] teodorescuserban opened #140 "Overhaul nginx configs: add cache purge options (and maybe scripts)"

[2015-12-07 13:33] teodorescuserban opened #141 "Overhaul nginx configs: normalize logs"

[2015-12-07 13:35] teodorescuserban opened #142 "Drop varnish from the flow"
It only causes more pain when dealing with caching issues or emergencies.

There is still a need to have a very simple reverse proxy in front of nginx to be able to redirect to the other ckan for example or stop the clients to go through to main nginx container (when maintenance or tests are performed).

Ideally, this is the one that should display all fancy maintenance pages.

[2015-12-07 13:37] teodorescuserban opened #143 "HDX Hot Standby: install first draft on previous provider."
This is long overdue....
Maybe we can wait until we finish nginx reconfig.

[2015-12-07 13:38] teodorescuserban opened #144 "HA: cps"

[2015-12-07 13:39] teodorescuserban opened #145 "HA: ckan"

[2015-12-07 13:43] teodorescuserban opened #146 "hdx-install revamp"
Change bash script to a python script that deals with all template generations internally, instead of env vars on the current shell.
Reconfigure and change to use env files generated from env files templates; this templating should be done by the script above.

[2015-12-07 13:48] teodorescuserban commented on #146
Also add into the script the capability to transform ssh keys and ssl keys and certificate bundles to space-separated strings (to be able to export them to env config files).

[2015-12-07 13:49] teodorescuserban opened #147 "HA: dataproxy"

[2015-12-07 13:51] teodorescuserban commented on #132
dataproxy done.

[2015-12-07 13:51] teodorescuserban commented on #132
Closing.

[2015-12-07 13:52] teodorescuserban commented on #132
reopening. need to make sure nginx sends the x-forwarded-for as it should for all backends.

[2015-12-07 15:36] teodorescuserban commented on #132
added the header when proxying to gisapi, gislayer, solr and dataproxy.
I also need to rebuild the docker image for nginx.

[2015-12-07 16:01] teodorescuserban opened #148 "deploy hdx-ckan 0.13.4 to prod"

[2015-12-07 16:01] teodorescuserban commented on #148
Done. Closing.

[2015-12-07 16:01] #148 closed, assigned to teodorescuserban

[2015-12-07 20:02] teodorescuserban opened #149 "feature stack: redeploy"
Setup feature server with latest db from prod (ckan, datastore, filestore!) with latest prod tag.
We will use it to test custom pages for el nino.

[2015-12-08 09:07] teodorescuserban commented on #149
Done.

[2015-12-08 09:07] #149 closed, assigned to teodorescuserban

[2015-12-09 08:22] teodorescuserban opened #150 "hdx-install improvements"

[2015-12-15 20:22] teodorescuserban commented on #142
I do need a way to be able to select at nginx container startup where are the upstreams.

[2015-12-15 20:22] #138 closed, assigned to teodorescuserban

[2015-12-15 20:22] #136 closed, assigned to teodorescuserban

[2015-12-15 20:23] #134 closed, assigned to teodorescuserban

[2015-12-15 20:23] #131 closed, assigned to teodorescuserban

[2015-12-15 20:23] teodorescuserban commented on #132
it does.
closing.

[2015-12-15 20:23] #132 closed, assigned to teodorescuserban

[2015-12-16 09:23] teodorescuserban opened #151 "Prod deploy with new caching system"
OCHA-DAP/hdx-ckan#3926

[2015-12-17 21:39] teodorescuserban opened #152 "nginx static stuff bug."
excerpt from ckan-static-stuffs.conf.tpl:

[code]

Because this is a template, you need to replace "$" signs with "%".

We deployed it as it is in production and led to the following config:

[code]

which made a redirect loop.

Fixing & closing.

[2015-12-17 21:39] #152 closed, assigned to teodorescuserban

[2015-12-17 22:24] teodorescuserban commented on #151
Deployed on web01 a few hours ago.
Also fixed #152
Will close this ticket once I deployed it on web02 as well.

[2015-12-18 15:21] teodorescuserban opened #153 "css and js not loading on prod"
Some of css and js does not load on prod.
As @alexandru-m-g helped me, the headers are off (missing `Content-Encoding`, lots of `Pragma` headers, missing `Via-Varnish` header).
The content of those js/css files seem gzipped (as Joe T. suggested) but the browser does not interpret those as gzipped files.

[2015-12-18 15:22] teodorescuserban commented on #153
Fixed.
After ruling out ckan itself, files on ckan side, nginx cache and nginx config, I have restarted the varnish container.
Issue persisted.
I stopped the Varnish container, removed it and recreating it. Problem solved.

[2015-12-18 15:22] #153 closed, assigned to teodorescuserban

[2015-12-18 15:49] amcguire62 commented on #153
Serban can i check since when the problem occurred and do we know why and what do we do to make sure does not happen again. I am guessing we would not have noticed but for the fact that Andrej happened to open and tell us. So need to be careful with this one as we were a bit blindsided because initially we could not see it.

[2015-12-18 15:57] teodorescuserban commented on #153
The cause seems to be the varnish container inconsistency.
A re-creation of the container resolved the issue.
Same thing happened on hr.info only they got down really hard.
As I intend to remove varnish from our stack really soon, I would leave this as it is.

[2015-12-18 16:33] amcguire62 commented on #153
Serban can i check since when the problem

[2015-12-19 15:14] teodorescuserban opened #154 "css and js not loading - reloaded"
#153 appeared again today.

[2015-12-19 15:15] teodorescuserban commented on #154
It has been solved by restarting the varnish container.

Should we enable more verbose logging in varnish?

[2015-12-19 15:15] #154 closed, assigned to teodorescuserban

[2016-01-04 14:45] teodorescuserban opened #155 "nginx: improvements on auth"
Currently, our nginx is an upstream for our frontend load balancer and ssl offloader.
While the `X-Forwarded-Proto` is configured properly, the access to resources is not.
This is a significant issue on staging stacks and can be important if and when we are under DoS.
We need to change the real_ip settings so that our nginx sees the real ip as the source of requests (not only in logs).

One immedi

[2016-01-04 14:47] teodorescuserban commented on #151
Deployed last year :grin:

[2016-01-04 14:47] #151 closed, assigned to nobody

[2016-01-04 19:47] teodorescuserban opened #156 "redirection to https is not working anymore."

[2016-01-04 19:47] teodorescuserban commented on #156
[code]

[2016-01-04 23:05] teodorescuserban commented on #133
added a new log format named `main` and changed most of the access_log lines (where the value was not `off` or the format required was `upstreamlog`)

this is also vaguely related to #155

now on to deploy!

closing.

[2016-01-04 23:05] #133 closed, assigned to teodorescuserban

[2016-01-04 23:08] teodorescuserban commented on #156
Fixed.

It looks like I overlooked totally that the former varnish container also took care of the http-to-https redirection.
On the last production hotfix deployment I dropped varnish from the flow and we lost the http-to-https ability.

There is a coupling between this issue and #155,  #133, #142

[2016-01-04 23:08] #156 closed, assigned to teodorescuserban

[2016-01-04 23:09] teodorescuserban commented on #142
Closing.
Creating a separate issue for the nginx container customization.

[2016-01-04 23:09] #142 closed, assigned to teodorescuserban

[2016-01-04 23:10] teodorescuserban commented on #135
related to #142
bumping priority.

[2016-01-04 23:13] teodorescuserban commented on #141
Closed along with #133.

[2016-01-04 23:13] #141 closed, assigned to teodorescuserban

[2016-01-06 16:38] alexandru-m-g opened #157 "Create new dev server environment on the ro servers"
- [ ] Create new dev server environment on the ro servers
- [ ] Investigate ways to automatically redeploy on changes on a specific branch/tag

[2016-01-07 15:13] teodorescuserban commented on #157
Done.

[2016-01-07 15:13] #157 closed, assigned to teodorescuserban

[2016-01-12 10:17] teodorescuserban opened #158 "nginx: http-to-https issues"
we need to reorganize a bit the nginx config so that it is easier to switch the redirection on and off.
Also, the redirection should be with `307` instead of `301` to preserve POST requests.

[2016-01-19 07:23] teodorescuserban opened #159 "nginx: fix bucket errors"
[code]

[2016-01-19 12:18] teodorescuserban commented on #139
The idea is that varnish, as cumbersome as it was, offered:
1. a quick way to stop the incoming traffic (by stopping the varnish container) while keeping the internal traffic up.
2. http-to-https was dealed with outside of main nginx container.
3. it made possible the seamless switch from web01 to web02 and back on the backend nginx. :)

Question is: can I keep all this in one nginx container or s

[2016-01-22 11:46] teodorescuserban opened #160 "http auth is enabled by default on new containers"
This can cause an issue when redeploying production.

Let's have it disabled by default.

[2016-01-22 12:57] teodorescuserban commented on #160
Done.

[2016-01-22 12:57] #160 closed, assigned to teodorescuserban

[2016-01-23 19:52] teodorescuserban opened #161 "https redirection causes issues for internal scripts"
Since the https redirection is made exclusively on absence of X-Forwarded-Proto (the assumptions being that all traffic comes from outside), the scripts trying to access the server from inside get a redirect loop.

This is related with the solution chosen in #156

[2016-01-23 19:53] teodorescuserban commented on #161
This is a strong argument to add a new nginx container that would only deal with https redirection and a few other simple settings.

This way the internal scripts would hit directly the second (the current) nginx and not have any issues with https redirects.

[2016-01-25 11:13] teodorescuserban commented on #159
Fixed.

The source of the issues was the repetition of proxy_set_header.
I revised the files inclusions and now all green.

[2016-01-25 11:13] #159 closed, assigned to teodorescuserban

[2016-01-25 20:12] teodorescuserban commented on #161
Hopefully this is fixed now without resorting to a second nginx container.
More testing, going to prod then closing this.

[2016-01-25 20:20] teodorescuserban commented on #158
will be fixed along with #161

[2016-01-25 20:20] #158 closed, assigned to teodorescuserban

[2016-01-25 22:45] teodorescuserban opened #162 "map tiles issues"
Having this issues for a while now.

This was not visible due to heavy caching on nginx containers.

However, when deploying a new container on web02, @alexandru-m-g noticed that tiles are not visible anymore.

[2016-01-25 22:46] teodorescuserban commented on #162
Managed to trace this in the `Host` header, which needs to be the destination name.

I have to make sure I incorporate this one in nginx image and hotfix the prod.

keeping closed until fix is confirmed.

[2016-01-25 23:12] teodorescuserban commented on #162
Confirmed. All green.

[2016-01-25 23:12] #162 closed, assigned to teodorescuserban

[2016-01-26 08:34] teodorescuserban commented on #161
Confirmed green, Closing.

[2016-01-26 08:34] #161 closed, assigned to teodorescuserban

[2016-01-26 08:36] teodorescuserban commented on #139
Yes, we can do it all in one single nginx container.
Done with the bunch of issue related to https redirection (#156, #161, etc).
Closing.

[2016-01-26 08:36] #139 closed, assigned to teodorescuserban

[2016-01-26 08:38] teodorescuserban commented on #135
1. if you want to start a nginx container on the other web head from where ckan is, you can edit the env var passed to nginx container for `HDX_CKAN_ADDR`, `HDX_BLOG_ADDR`, `HDX_CPS_ADDR`, etc
2. for usual reloads I will just make a short script (hopefully today).

[2016-01-26 13:59] teodorescuserban commented on #155
Just note that due to user error on the last prod deployment, when the http basic auth has been left enabled (lol), the newer docker image of hdx nginx will have http-auth disabled by default.
This is good for developers too.
Other than that, the ticket is still very much valid.

[2016-01-26 14:00] teodorescuserban commented on #150
I was working a bit on this.
I began testing some early stages on a separate stack.

[2016-01-26 14:01] teodorescuserban commented on #143
More time before doing that. :(

[2016-01-29 15:56] teodorescuserban commented on #146
Finished.
Closing.
There is still the other half to be done (startup services inside the containers that should be able to read the env vars injected at container startup time).

[2016-01-29 15:56] #146 closed, assigned to teodorescuserban

[2016-01-29 15:57] teodorescuserban commented on #150
linked with #146
Closing.

[2016-01-29 15:57] #150 closed, assigned to teodorescuserban

[2016-01-29 15:58] teodorescuserban opened #163 "new startup scripts for services inside the container"
Since #146 has been completed, the way to inject env vars has changed slightly.

I am going to provide a generic interface for a python script to prepare the startup of the services inside the container.

[2016-02-01 19:34] teodorescuserban opened #164 "Dockerize HXL proxy"
Just waiting for confirmation.

[2016-02-04 08:55] teodorescuserban opened #165 "Help to proxy some external resources"
This is related with  OCHA-DAP/hdx-ckan#4105
Help @alexandru-m-g test if proxying the requests to some external json resources through our nginx works and it's feasible.

[2016-02-04 08:56] teodorescuserban commented on #165
Tested. Works.
Closing.

[2016-02-04 08:56] #165 closed, assigned to teodorescuserban

[2016-02-04 09:32] teodorescuserban opened #166 "Create pingdom check for HXL Proxy."

[2016-02-04 09:32] teodorescuserban commented on #166
Done.

[2016-02-04 09:32] #166 closed, assigned to teodorescuserban

[2016-02-08 15:34] teodorescuserban commented on #163
Nginx completed and tested, docker image rebuilt.

[2016-02-09 09:08] teodorescuserban commented on #163
Ckan completed and tested, docker image rebuilt.

[2016-02-09 15:46] teodorescuserban commented on #163
Cps completed and tested, docker image rebuilt.

[2016-02-09 15:48] teodorescuserban commented on #135
Script made.
It is called `swup.py` and will be present at `/srv/swup.py` in hdx-nginx image.
The script has also been added to hdx-tools repo on bitbucket.

Happy switching! :)
Closing.

[2016-02-09 15:48] #135 closed, assigned to teodorescuserban

[2016-02-13 20:07] teodorescuserban opened #167 "test stack: install from scratch."
New stack installer testing.

[2016-02-13 20:08] teodorescuserban commented on #167
Done.
Closing.

[2016-02-13 20:08] #167 closed, assigned to teodorescuserban

[2016-02-13 20:20] teodorescuserban commented on #163
All seems to work.
Closing.

[2016-02-13 20:20] #163 closed, assigned to nobody

[2016-02-13 20:39] teodorescuserban commented on #137
available right now on staging:
1. gisapi
2. dataproxy
3. monitor
4. solr

I will deploy gradually on all other stacks.

tagging @alexandru-m-g and @cjhendrix

Closing.

[2016-02-13 20:39] #137 closed, assigned to teodorescuserban

[2016-02-13 20:41] teodorescuserban opened #168 "nginx: gisapi running under a directory"
We need to display for our devs a better page on gisapi.

At the moment, gisapi is under the impression that is running in the root folder, which is not :)

I need to add to nginx a proper config (probably using http_sub_module) to tweak the gisapi response.

[2016-02-13 20:43] teodorescuserban commented on #168
Partially done.

As http_sub_module supports multiple replacements in the same location only after 1.9.4, we settled for now with just replacing `href="/` with the real url path.

css and js are now properly loaded.

Active only on tet stack. It will be propagated gradually with new deployments.

Closing.

[2016-02-13 20:43] #168 closed, assigned to teodorescuserban

[2016-02-13 20:45] teodorescuserban opened #169 "nginx: newest docker image has the default vhost present."
There should be nothing but our vhosts in `sites-enabled` folder.

[2016-02-13 21:06] teodorescuserban commented on #169
Fixed.
Closing.

[2016-02-13 21:06] #169 closed, assigned to teodorescuserban

[2016-02-26 00:17] teodorescuserban opened #170 "HA: solr"
Create a simple master/slave config.

[2016-02-26 00:17] teodorescuserban commented on #170
Created.
Changed nginx upstreams accordingly.

[2016-02-26 00:17] #170 closed, assigned to teodorescuserban

[2016-03-04 12:07] teodorescuserban opened #171 "nginx image: basic auth file has wrong permissions"
It looks like the startup script for nginx service is creating the basic auth with too restrictive permissions (400).

[2016-03-04 12:12] teodorescuserban commented on #171
Fixed.

[2016-03-04 12:12] #171 closed, assigned to teodorescuserban

[2016-03-29 13:34] teodorescuserban opened #172 "add wfp-indicators location to nginx on test stack"
At @aalecs request: /wfp-indicators should be proxied to http://ocha-dap.github.io/hdx-wfp-indicators/

Related to OCHA-DAP/hdx-ckan#4154

[2016-03-29 13:34] teodorescuserban commented on #172
Done.

[2016-03-29 13:34] #172 closed, assigned to teodorescuserban

[2016-03-30 13:48] danmihaila opened #173 "WFP visualization url"
We need to persist this url in dockers
https://test-data.hdx.rwlabs.org/visualization/wfp-indicators/
and deploy to prod when we have the final OK from Aidan.

[2016-04-08 12:09] teodorescuserban opened #174 "increase expires header for a specific resource in datastore"
The resource id: 22748b40dd-7bd3-40a3-941b-e76f0bfbe0eb

Request was made by @alexandru-m-g

[2016-04-08 12:16] teodorescuserban commented on #174
The `Expires` header has been increased to 60 minutes for requests matching this:

``` /api/action/datastore_search_sql.*22748b40dd-7bd3-40a3-941b-e76f0bfbe0eb```

The fix is available currently on production and will be implemented in a few minutes on a new nginx docker image.

[code]

[2016-04-08 12:16] #174 closed, assigned to teodorescuserban

[2016-04-08 12:18] teodorescuserban opened #175 "search and fix duplicate headers on ckan"
it appears that nginx configuration has some duplication going on.

Headers like `Expires` and `Pragma` appear duplicated on cached requests.

[2016-04-08 12:19] teodorescuserban commented on #175
Hopefully this is fixed now.

[2016-04-08 12:19] #175 closed, assigned to teodorescuserban

[2016-04-08 12:32] teodorescuserban commented on #164
Completed during Liverpool sprint.

[2016-04-08 12:32] #164 closed, assigned to teodorescuserban

[2016-04-13 11:42] teodorescuserban opened #176 "hdxckantool restore db is broken"
Due to pgbouncer addition to ckan container, the restore db function in hdxckantool is broken.

This is because the restore tries to drop and recreate the ckan and datastore db.

We need to replace this with some kind of "drop all tables".

[2016-04-21 08:14] alexandru-m-g opened #177 "Changes to CPS config"
For new deploys of CPS ( starting from version v0.15.1 ) please make sure that the change described here is being done to the CPS config: https://github.com/OCHA-DAP/DAP-System/issues/351

[2016-04-26 08:22] teodorescuserban opened #178 "deploy new cps on prod"
v0.15.1

[2016-04-26 08:54] teodorescuserban commented on #178
Deployed (web01).

[2016-04-26 08:54] #178 closed, assigned to teodorescuserban

[2016-04-26 08:54] teodorescuserban commented on #177
Docker image has been updated.

[2016-04-26 08:54] #177 closed, assigned to teodorescuserban

[2016-04-27 13:19] danmihaila opened #179 "Jenkins: automatic redeploy of Map Explorer"
Trigger the a redeploy of Map Explorer (with Jenkins) when a commit is pushed to master branch

[2016-04-28 21:06] teodorescuserban opened #180 "deployed /visualization/wfp-indicators/ to prod"
Done.

[2016-05-10 12:45] cjhendrix opened #181 "Unable to reach demo server from script"
Getting an SSL error when trying to connect to API on demo server from a python script running ckanapi

[2016-05-10 12:48] danmihaila commented on #181
@teodorescuserban any hint?

[2016-05-10 17:40] teodorescuserban opened #182 "nginx image replace old domain with new domain."
dix it.

[2016-05-11 12:54] teodorescuserban commented on #182
maybe a bit confusing, so let me explain:

there are few points in nginx configuration where the old domain is hardcoded (2 places, both commented out for now).

Also, there is the need to embed in the nginx config the redirects needed when we switch over.

[2016-05-23 08:07] danmihaila opened #183 "Map Explorer: deploy with Jenkins for any branch (git)"

[2016-05-23 08:18] teodorescuserban opened #184 "ckan: add pip reqs"
add

[code]

[2016-06-04 13:09] alexandru-m-g opened #185 "nginx configurations"
I think that some new nginx configuration is causing the below results on both GET:
![pasted image at 2016_05_27 12_19 am](https://cloud.githubusercontent.com/assets/6586348/15799732/90e52f34-2a6e-11e6-80d6-6c7eb19c476c.png)

and POST:
![pasted image at 2016_05_29 02_23 am](https://cloud.githubusercontent.com/assets/6586348/15799733/90eb45d6-2a6e-11e6-8ad2-c9a1300cee7f.png)

[2016-06-07 12:09] #183 closed, assigned to teodorescuserban

[2016-06-07 12:51] teodorescuserban commented on #183
Done.

/jenkins/view/HDX/job/hdx-stage-mpx-deploy (you know where the host is).

cc @danmihaila

[2016-06-09 14:17] teodorescuserban opened #186 "redeploy hxlproxy in prod and refresh hxlproxy docker image"

[2016-06-09 14:25] teodorescuserban commented on #186
Done.

[2016-06-09 14:25] #186 closed, assigned to teodorescuserban

[2016-06-09 14:25] teodorescuserban commented on #173
Done for some time.

[2016-06-09 14:25] #173 closed, assigned to teodorescuserban

[2018-08-31 08:53] teodorescuserban commented on #144
done by dropping it :)

[2018-08-31 08:53] #144 closed, assigned to teodorescuserban

[2018-08-31 08:53] teodorescuserban commented on #147
Done.

[2018-08-31 08:53] #147 closed, assigned to teodorescuserban

[2018-08-31 08:54] teodorescuserban commented on #155
loooong time done.

[2018-08-31 08:54] #155 closed, assigned to teodorescuserban

[2018-08-31 08:54] teodorescuserban commented on #181
done

[2018-08-31 08:54] #181 closed, assigned to teodorescuserban

[2018-08-31 08:55] teodorescuserban commented on #179
done

[2018-08-31 08:55] #179 closed, assigned to teodorescuserban

[2018-08-31 08:57] teodorescuserban commented on #182
done already

[2018-08-31 08:58] #182 closed, assigned to teodorescuserban

[2018-08-31 08:58] teodorescuserban commented on #184
done

[2018-08-31 08:58] #184 closed, assigned to teodorescuserban

[2018-08-31 08:59] teodorescuserban commented on #185
solved

[2018-08-31 08:59] #185 closed, assigned to teodorescuserban